.title-filter {
  h4 {
    font-family: 'Gotham-Light';
  }

  .rechercher {
    display: flex;
    align-items: center;
  }

  input, select {
    margin: 0 0 0 10px;
    background-color: $lightGreen;
    border: 0;
    border-bottom: 1px solid black;

    option {
      outline: 0;
      border: 0;
    }

    &:focus {
      outline: 0;
    }
    
  }
}
