footer {
  background: $green;
  text-decoration: none;

  #footer-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    @media screen and (max-width: $mediumSize) {
      display: block;
      margin-bottom:20px;
    }

    #footer-menu {
      width: 30%;
      padding-left: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: $mediumSize) {
        width: 100%;
        padding: 0;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          vertical-align: middle;
          margin-bottom: 10px;
          text-align: center;
          a {
            text-decoration: none;
            color: #fff;
            transition-duration: 0.3s;

            &:hover {
              color: #3f3f3f;
              transition-duration: 0.3s;
            }
          }
        }
      }
    }

    #footer-empty {
      width: 40%;
    }

    #footer-logos {
      width: 30%;
      text-align: right;
      padding-right: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: $mediumSize) {
        width: 100%;
        padding: 0;
      }

      ul {
        margin: 0;
        padding: 0;
        text-align: center;

        li {
          list-style: none;

          .logoFooter {
            img {
              width: 45%;
              @media screen and (max-width: $mediumSize) {
                width: 25%;
              }
            }
          }

          i {
            margin-top: 15px;
            color: white;
            font-size: 40px;
          }
        }
      }
    }
  }

  #CGV {
    width: 100%;
    text-align: center;
    background: $green;
    min-height: 30px;
    font-size: 16px;

    a {
      text-decoration: none;
      color: #fff;
      transition-duration: 0.3s;
      padding-bottom: 10px;

      &:hover {
        color: #3f3f3f;
        transition-duration: 0.3s;
      }
    }
  }
}
