{% extends "base.html.twig" %}

{% block title %}RGPD{% endblock %}

{% block idBody %}rgpd{% endblock %}

{% block body %}
  <div class="blocImage textCenter">
    <div class="title">
        <h1>Législation</h1>
        <!--<h2></h2>-->
    </div>
    <img class="imgPres" src="{{ asset('images/background-rgpd.jpg') }}" />
    <svg class="wave waveTop fillWhite onImage" viewBox="0 0 1440 120" aria-hidden="true">
      <path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
    </svg>
  </div>

<div id="cgv" class="container">
  <div class="blocFull">
    <h1>Informations légales</h1>

    <p>Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir. En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités.</p>

    <p>Editeur du site</br>
    Eco-Service</br>
    par G4-students</br>
    49 boulevard Victor Hugo</br>
    69009 Lyon</br>
    France</br>
    Tél. : + 33 (0)6 62 58 44 69</br>
    Fax : + 33 (0)5 75 12 58 96</br>
    https://www.eco-service.fr</p>

    <p>G4-students est une EURL au capital de 3500€</br>
    RCS B 859 774 71 - Siret : 4589632156852 - APE : 8965Z</br>
    N° déclaration CNIL : 8542163</p>

    <p><strong>Conditions d'utilisation</strong></br>
    Le site accessible par l'url suivant : www.eco-service.fr est exploité dans le respect de la législation française. L'utilisation de ce site est régie par les présentes conditions générales.   En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à tout moment et sans préavis par la société G4-students.</br>
    G4-students ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.</br></br>
    Responsable éditorial</br>
    Steven Fadier</br>
    Eco-Service</br>
    par G4-students</br>
    49 boulevard Victor Hugo</br>
    69009 Lyon</br>
    France</br>
    Tél. : + 33 (0)6 62 58 44 69</br>
    Fax : + 33 (0)5 75 12 58 96</br>
    https://www.eco-service.fr</p>

    <p><strong>Limitation de responsabilité</strong></br>
    Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).</br>
    Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, G4-students ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.</br>
    Les photos sont non contractuelles.</br>
    Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de G4-students.</p>

    <p><strong>Litiges</strong></br>
    Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le   siège social de la société G4-students. La langue de référence, pour le règlement de contentieux éventuels, est le français.</p>

    <p><strong>Déclaration à la CNIL</strong></br>
    Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés, le site a fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés (www.cnil.fr).</p>

    <p><strong>Droit d'accès</strong></br>
    En application de cette loi, les internautes disposent d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie postale auprès de G4-students 49, Boulevard Antoine Gautier 33000 Bordeaux ou par voie électronique à l’adresse email suivante : contact@eco-service.fr.</br>
    Les informations personnelles collectées ne sont en aucun cas confiées à des tiers hormis pour l’éventuelle bonne exécution de la prestation commandée par l’internaute.</p>

    <p><strong>Confidentialité</strong></br>
    Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation.</p>

    <p><strong>Propriété intellectuelle</strong></br>
    Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société G4-students à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</br>
    Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de G4-students. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.</br>
    G4-students est identiquement propriétaire des "droits des producteurs de bases de données" visés au Livre III, Titre IV, du Code de la Propriété Intellectuelle   (loi n° 98-536 du 1er juillet 1998) relative aux droits d'auteur et aux bases de données.</br>
    Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais uniquement en direction de la page d’accueil, accessible à l’URL suivante : https://www.eco-service.fr, à condition que ce lien s’ouvre dans une nouvelle fenêtre. En particulier un lien vers une sous page (« lien profond ») est interdit, ainsi que l’ouverture du présent site au sein d’un cadre (« framing »), sauf l'autorisation expresse et préalable de G4-students.</br>
    Pour toute demande d'autorisation ou d'information, veuillez nous contacter par email : contact@eco-service.fr. Des conditions spécifiques sont prévues pour la presse.</br>
    Par ailleurs, la mise en forme de ce site a nécessité le recours à des sources externes dont nous avons acquis les droits ou dont les droits d'utilisation sont ouverts : Seosight, Designed by themefire Developed by Crumina​. Les illustrations ont été acquises sur Adobe Stock.</p>

    <p><strong>Hébergeur</strong></br>
    Kiubi</br>
    Plateforme de gestion et création de sites internet</br>
    www.kiubi.com</br>
    contact@kiubi.com</p>

    <p><strong>Conditions de service</strong></br>
    Ce site est proposé en langages HTML5 et CSS3, pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Safari, Firefox, Chrome,...</p>

    <p><strong>Informations et exclusion</strong></br>
    G4-students met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations auprès de G4-students, et signaler toutes modifications du site qu'il jugerait utile. G4-students n'est en aucun cas responsable de l'utilisation faite de ces informations,   et de tout préjudice direct ou indirect pouvant en découler.</p>

    <p><strong>Cookies</strong></br>
    Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de petits fichiers textes stockés sur votre disque dur afin d'enregistrer des données techniques sur votre navigation. Certaines parties de ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.</p>

    <p><strong>Liens hypertextes</strong></br>
    Les sites internet de G4-students peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet.</br>
    G4-students ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet. G4-students ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.</br>
    Les utilisateurs, les abonnés et les visiteurs des sites internet de G4-students ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de G4-students.</br>
    Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites internet de G4-students, il lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. G4-students se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.</p>

    <p><strong>Recherche</strong></br>
    En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune façon que G4-students reconnaît ou accepte quelque responsabilité quant à la teneur ou à l'utilisation dudit site.</p>

    <p><strong>Précautions d'usage</strong></br>
    Il vous incombe par conséquent de prendre les précautions d'usage nécessaires pour vous assurer que ce que vous choisissez d'utiliser ne soit pas entaché d'erreurs voire d'éléments de nature destructrice tels que virus, trojans, etc....</p>

    <p><strong>Responsabilité</strong></br>
    Aucune autre garantie n'est accordée au client, auquel incombe l'obligation de formuler clairement ses besoins et le devoir de s'informer. Si des informations fournies par G4-students apparaissent inexactes, il appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la vraisemblance des résultats obtenus. G4-students ne sera en aucune façon responsable vis à vis des tiers de l'utilisation par le client des informations ou de leur absence contenues dans ses produits y compris un de ses sites Internet.</p>

    <p><strong>Contactez-nous</strong></br>
    G4-students est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire en français par courrier électronique à : contact@eco-service.fr.</p>

    <h1>Conditions générales de ventes</h1>

    <p>Entre la Société Eco-service,</br>
    17 rue de Mickey, 75008 Paris,</br>
    au Capital Social de 268.000€,</br>
    immatriculée au Registre du Commerce et des Sociétés de PARIS,</br>
    sous le numéro SIRET 695642873,</br>
    représentée par M. Albert CHAMPAGNE</br>
    en qualité de gérant,</br>
    dûment habilité aux fins des présentes.</p>

    <p>La société peut être jointe par email en cliquant sur le formulaire de contact accessible via la page d’accueil du site.</p>

    <p>Ci-après le « Vendeur » ou la « Société ».</p>

    <p>D’une part,</br>
    Et la personne physique ou morale procédant à l’achat de produits ou services de la société,</br>
    Ci-après, « l’Acheteur », ou « le Client »</br>
    D’autre part,</br>
    Il a été exposé et convenu ce qui suit :</br>
    <span class="note"><b>NOTE</b> : On indique ici les premiers éléments obligatoires du contrat à savoir : l’identification précise du vendeur – obligations imposées notamment par l’article 6 de la LCEN (sanctions 1 an d’emprisonnement et 75.000€ d’amende à défaut), l’article 19 de la LCEN, les articles L111-1 et s. du Code de la conso.. Il est également obligatoire de fournir un point de contact (LCEN art. 6).</span></p>

    <p><b>PREAMBULE</b></br></br>
    Le Vendeur est éditeur de Produits et Services écoresponsables à destination de consommateurs, commercialisés par l’intermédiaire de son site Internet (http://eco-service.fr ). La liste et le descriptif des biens et services proposés par la Société peuvent être consultés sur les sites susmentionnés.</br>
    <span class="note"><b>NOTE</b> : L’activité de la société est présentée et explicitée de même que la destination des produits -ces obligations sont imposées par l’art. L111-1 code conso.</span></p>

    <p><strong>Article 1</strong> : Objet <br>Les présentes Conditions Générales de Vente déterminent les droits et obligations des parties dans le cadre de la vente en ligne de Produits ou Services proposés par le Vendeur.</br>
    <span class="note"><b>NOTE</b> : On détaille ici l’objet du contrat qui est la vente en ligne de Produits et de Services par le Vendeur</span></p>

    <p><strong>Article 2</strong> : Dispositions générales <br>Les présentes Conditions Générales de Vente (CGV) régissent les ventes de Produits ou de Services, effectuées au travers des sites Internet de la Société, et sont partie intégrante du Contrat entre l’Acheteur et le Vendeur. Elles sont pleinement opposables à l’Acheteur qui les a acceptés avant de passer commande.
    Le Vendeur se réserve la possibilité de modifier les présentes, à tout moment par la publication d’une nouvelle version sur son site Internet. Les CGV applicables alors sont celles étant en vigueur à la date du paiement (ou du premier paiement en cas de paiements multiples) de la commande. Ces CGV sont consultables sur le site Internet de la Société à l’adresse suivante : http://eco-service.fr .
    La Société s’assure également que leur acceptation soit claire et sans réserve en mettant en place une case à cocher et un clic de validation. Le Client déclare avoir pris connaissance de l’ensemble des présentes Conditions Générales de Vente, et le cas échéant des Conditions Particulières de Vente liées à un produit ou à un service, et les accepter sans restriction ni réserve.
    Le Client reconnaît qu’il a bénéficié des conseils et informations nécessaires afin de s’assurer de l’adéquation de l’offre à ses besoins.
    Le Client déclare être en mesure de contracter légalement en vertu des lois françaises ou valablement représenter la personne physique ou morale pour laquelle il s’engage.
    Sauf preuve contraire les informations enregistrées par la Société constituent la preuve de l’ensemble des transactions.</br>
    <span class="note"><b>NOTE</b> : Points à gérer : – Les modifications éventuelles des CGV – Formalité d’acceptation des CGV pour être certain que la personne a consenti au contrat – respect des obligations de conseil – on s’assure que le client est légalement en mesure de conclure un contrat – article L111-1 et s. c. conso.</span></p>

    <p><strong>Article 3</strong> : Prix <br>Les prix des produits vendus au travers des sites Internet sont indiqués en Euros hors taxes et précisément déterminés sur les pages de descriptifs des Produits. Ils sont également indiqués en euros toutes taxes comprises (TVA + autres taxes éventuelles) sur la page de commande des produits, et hors frais spécifiques d’expédition. Pour tous les produits expédiés hors Union européenne et/ou DOM-TOM, le prix est calculé hors taxes automatiquement sur la facture. Des droits de douane ou autres taxes locales ou droits d’importation ou taxes d’état sont susceptibles d’être exigibles dans certains cas. Ces droits et sommes ne relèvent pas du ressort du Vendeur. Ils seront à la charge de l’acheteur et relèvent de sa responsabilité (déclarations, paiement aux autorités compétentes, etc.). Le Vendeur invite à ce titre l’acheteur à se renseigner sur ces aspects auprès des autorités locales correspondantes.La Société se réserve la possibilité de modifier ses prix à tout moment pour l’avenir. Les frais de télécommunication nécessaires à l’accès aux sites Internet de la Société sont à la charge du Client. Le cas échéant également, les frais de livraison.
    </br>
    <span class="note"><b>NOTE TRES IMPORTANTE</b> : – on détaille le prix de vente de manière précise (attention sanctions de ce côté la JP est très sévère) – on précise l’ensemble des éléments relatifs à la livraison (qui ne sont pas précisés dans ces CGV car elles sont, à l’origine, destinées à des produits immatériels).</span></p>

    <p><strong>Article 2.1</strong> : Prix – exemple de clause illicite <br>La Société se réserve la possibilité de changer les prix à tout moment des produits achetés par le consommateur en particulier pour les abonnements – ceux-ci seront librement déterminés par le Vendeur par la suite, au fur et à mesure de l'évolution des prestations.</br>
    <span class="note"><b>NOTE</b> : Voici un exemple assez basique de clause illicite essentiellement en raison du fait que le vendeur peut modifier le prix à tout moment – sans qu’en soit vraiment clairement informé le consommateur (ex : vous lui vendez un abonnement à 20€ à l’origine, puis vous changez le prix à 200€)</span></p>

    <p><strong>Article 4</strong> : Conclusion du contrat en ligne <br>Conformément aux dispositions de l’article 1127-1 du Code civil, le Client doit suivre une série d’étapes pour conclure le contrat par voie électronique pour pouvoir réaliser sa commande : – Information sur les caractéristiques essentielles du Produit ; – Choix du Produit, le cas échéant, de ses options - Indication des coordonnées essentielles du Client (identification, email, adresse…) ; – Acceptation des présentes Conditions Générales de Vente – Vérification des éléments de la commande (formalité du double clic) et, le cas échéant, correction des erreurs. Avant de procéder à sa confirmation, l’Acheteur a la possibilité de vérifier le détail de sa commande, son prix, et de corriger ses éventuelles erreurs, ou annuler sa commande. La confirmation de la commande emportera formation du présent contrat. – Ensuite, suivi des instructions pour le paiement, paiement des produits, puis livraison de la commande. Le Client recevra confirmation par courrier électronique du paiement de la commande, ainsi qu’un accusé de réception de la commande la confirmant. Il recevra un exemplaire .pdf des présentes conditions générales de vente.
    Le client disposera pendant son processus de commande de la possibilité d’identifier d’éventuelles erreurs commises dans la saisie des données et de les corriger. La langue proposée pour la conclusion du contrat est la langue française.
    Les modalités de l’offre et des conditions générales de vente sont renvoyées par email à l’acheteur lors de la commande et archivées sur le site web du Vendeur. Le cas échéant, les règles professionnelles et commerciales auxquelles l’auteur de l’offre entend se soumettre sont consultables dans la rubrique “règles annexes” des présentes CGV, consultables sur le site du Vendeur à l’adresse suivante : http://eco-service.fr
    L’archivage des communications, de la commande, des détails de la commande, ainsi que des factures est effectué sur un support fiable et durable de manière constituer une copie fidèle et durable conformément aux dispositions de l’article 1360 du code civil. Ces informations peuvent être produites à titre de preuve du contrat.
    Pour les produits livrés, la livraison se fera à l’adresse indiquée par le Client. Aux fins de bonne réalisation de la commande, le Client s’engage à fournir des éléments d’identification véridiques. Le Vendeur se réserve la possibilité de refuser la commande, par exemple pour toute demande anormale, réalisée de mauvaise foi ou pour tout motif légitime.</br>
    <span class="note"><b>NOTE</b> : Plusieurs points très importants : - la loi (en l’occurence l’article 1127-1 du Code civil) impose de détailler le processus d’achat étape par étape au client, vous devez donc adapter ces points. De même, vous devez indiquer dans une rubrique annexe (“règles annexes”) l’existence de règles professionnelles spécifiques qui peuvent vous concerner (ex : vous êtes soumis à des règles professionnelles spécifiques - pour les professions règlementées). Vous devez également préciser les modalités d’archivage de votre offre, et indiquer les conditions d’accès au contrat archivé. On rappelle la mise à disposition des CGV par PDF après commande. Un autre point essentiel à gérer tient au fait que la commande ne peut être légalement valable que si le client a eu la possibilité de corriger les éventuelles erreurs (ex : adresse incorrecte, quantité de produits incorrecte…) et procéder à une confirmation - ce mécanisme doit impérativement être implémenté lors du process de commande (cf. art. 1127-2 du Code civil)
    </span></p>

    <p><strong>Article 5</strong> : Produits et services <br>Les caractéristiques essentielles des biens, des services et leurs prix respectifs sont mis à disposition de l’acheteur sur les sites Internet de la société, de même, le cas échéant, que le mode d’utilisation du produit. Conformément à l’article L112-1 du Code la consommation, le consommateur est informé, par voie de marquage, d’étiquetage, d’affichage ou par tout autre procédé approprié, des prix et des conditions particulières de la vente et de l’exécution des services avant toute conclusion du contrat de vente. Dans tous les cas, le montant total dû par l’Acheteur est indiqué sur la page de confirmation de la commande. Le prix de vente du produit est celui en vigueur indiqué au jour de la commande, celui-ci ne comportant par les frais de ports facturés en supplément. Ces éventuels frais sont indiqués à l’Acheteur lors du process de vente, et en tout état de cause au moment de la confirmation de la commande. Le Vendeur se réserve la possibilité de modifier ses prix à tout moment, tout en garantissant l’application du prix indiqué au moment de la commande. Lorsque les produits ou services ne sont pas exécutés immédiatement, une information claire est donnée sur la page de présentation du produit quant aux dates de livraison des produits ou services. Le client atteste avoir reçu un détail des frais de livraison ainsi que les modalités de paiement, de livraison et d’exécution du contrat, ainsi qu’une information détaillée relative à l’identité du vendeur, ses coordonnées postales, téléphoniques et électroniques, et à ses activités dans le contexte de la présente vente. Le Vendeur s’engage à honorer la commande du Client dans la limite des stocks de Produits disponibles uniquement. A défaut, le Vendeur en informe le Client ; si la commande a été passée, et à défaut d’accord avec le Client sur une nouvelle date de livraison, le Vendeur rembourse le client.
    Les informations contractuelles sont présentées en détail et en langue française. Les parties conviennent que les illustrations ou photos des produits offerts à la vente n’ont pas de valeur contractuelle. La durée de validité de l’offre des Produits ainsi que leurs prix est précisée sur les sites Internet de la Société, ainsi que la durée minimale des contrats proposés lorsque ceux-ci portent sur une fourniture continue ou périodique de produits ou services. Sauf conditions particulières, les droits concédés au titre des présentes le sont uniquement à la personne physique signataire de la commande (ou la personne titulaire de l’adresse email communiquée).
    </br>
    <span class="note"><b>NOTE</b> : Ici on détaille les biens vendus ainsi que les caractéristiques essentielles de l’offre - cette obligation est imposée par l’art. L111-1 code conso. relative aux obligations générales d’information précontractuelle. En pratique attention à bien vous assurer que ces obligations soient clairement respectées (clairement expliciter le produit, son prix, les frais de livraison, etc.)</span></p>

    <p><strong>Article 6</strong> : Conformité<br>
    Conformément à l’article L.411-1 du Code de la consommation, les produits et les services offerts à la vente au travers des présentes CGV répondent aux prescriptions en vigueur relatives à la sécurité et à la santé des personnes, à la loyauté des transactions commerciales et à la protection des consommateurs. Indépendamment de toute garantie commerciale, le Vendeur reste tenu des défauts de conformité et des vices cachés du produit.
    Conformément à l’article L.217-4, le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.
    Conformément aux dispositions légales en matière de conformité et de vices cachés (art. 1641 c. civ.), le Vendeur rembourse ou échange les produits défectueux ou ne correspondant pas à la commande. Le remboursement peut être demandé de la manière suivante : (décrire la procédure de remboursement, et comment le produit doit être retourné, et le remboursement des frais d’expédition le cas échéant).</br>
    <span class="note"><b>NOTE</b> : Si vous avez prévu une garantie commerciale (ex : satisfait ou remboursé en 30 jours) vous devez l’indiquer ici. Les articles L. 217-15 et suivants du code de la consommation précisent les modalités de la garantie commerciale - qui doit nécessairement faire l’objet d’un contrat écrit - celui-ci devant préciser les modalités de sa mise en œuvre, son prix, sa durée, son étendue territoriale, le nom et l’adresse du garant et reproduire l’article L. 217-16. Il faut également préciser si le Vendeur dispose d’un service après-vente (cf. art. L. 217-17)</span></p>

    <p><strong>Article 7</strong> : Clause de réserve de propriété <br>Les produits demeurent la propriété de la Société jusqu’au complet paiement du prix.</br>
    <span class="note"><b>NOTE</b> : Clause classique – optionnelle l’idée est de réserver la propriété du bien jusqu’au paiement du prix. A défaut le bien appartient à l’acheteur (qui n’a pas encore payé)</span></p>

    <p><strong>Article 8</strong> : Modalités de livraison <br>Les produits sont livrés à l’adresse de livraison qui a été indiquée lors de la commande et dans les délais indiqués. Ces délais ne prennent pas en compte le délai de préparation de la commande. Lorsque la livraison nécessite une prise de rendez-vous avec le Client (décrire la procédure). Lorsque le Client commande plusieurs produits en même temps ceux-ci peuvent avoir des délais de livraison différents acheminés selon les modalités suivantes (décrire la procédure). En cas de retard d’expédition (décrire la procédure). En cas de retard de livraison, le Client dispose de la possibilité de résoudre le contrat dans les conditions et modalités définies à l’Article L 216-2 du Code de la consommation. Le Vendeur procède alors au remboursement du produit et aux frais « aller » dans les conditions des dispositions des articles L216-3 et le L241-4 du Code de la consommation. Le Vendeur met à disposition un point de contact téléphonique (coût d’une communication locale à partir d’un poste fixe) indiqué dans l’email de confirmation de commande afin d’assurer le suivi de la commande. Le Vendeur rappelle qu’au moment où le Client pend possession physiquement des produits, les risques de perte ou d’endommagement des produits lui sont transférés. Il appartient au Client de notifier au transporteur toute réserve sur le produit livré.
    </br>
    <span class="note"><b>NOTE</b> : Description des modalités de livraison</span></p>

    <p><strong>Article 9</strong> : Disponibilité et présentation <br>En cas d’indisponibilité d’un article pour une période supérieure à 30 jours ouvrables, vous serez immédiatement prévenu des délais prévisibles de livraison et la commande de cet article pourra être annulée sur simple demande. Le Client pourra alors demander un avoir pour le montant de l’article ou son remboursement intégral et l’annulation de la commande.</br>
    <span class="note"><b>NOTE</b> : Gestion de la disponibilité des articles</span></p>

    <p><strong>Article 10</strong> : Paiement <br>Le paiement est exigible immédiatement à la commande, y compris pour les produits en précommande. Le Client peut effectuer le règlement par carte de paiement ou chèque bancaire. Les cartes émises par des banques domiciliées hors de France doivent obligatoirement être des cartes bancaires internationales (Mastercard ou Visa).Le paiement sécurisé en ligne par carte bancaire est réalisé par notre prestataire de paiement. Les informations transmises sont chiffrées dans les règles de l’art et ne peuvent être lues au cours du transport sur le réseau (décrire le process). Une fois le paiement lancé par le Client, la transaction est immédiatement débitée après vérification des informations. Conformément aux dispositions du Code monétaire et financier, l’engagement de payer donné par carte est irrévocable. En communiquant ses informations bancaires lors de la vente, le Client autorise le Vendeur à débiter sa carte du montant relatif au prix indiqué. Le Client confirme qu’il est bien le titulaire légal de la carte à débiter et qu’il est légalement en droit d’en faire usage. En cas d’erreur, ou d’impossibilité de débiter la carte, la Vente est immédiatement résolue de plein droit et la commande annulée.
    </br>
    <span class="note"><b>NOTE</b> : Précisions importantes relatives au paiement, le type de cartes acceptées, les chèques, etc.</span></p>

    <p><strong>Article 11</strong> : Délai de rétractation <br>Conformément aux dispositions de l’article L 221-5 du Code de la consommation, l’Acheteur dispose du droit de se rétracter sans donner de motif, dans un délai de quatorze (14) jours à la date de réception de sa commande. Le droit de rétractation peut être exercé en contactant la Société de la manière suivante : (décrire la procédure précise). Nous informons les Clients que conformément aux dispositions des articles L. 221-18 à L. 221-28 du Code de la consommation, ce droit de rétractation ne peut être exercé pour (décrire les biens non sujets à ces dispositions). En cas d’exercice du droit de rétractation dans le délai susmentionné, le prix du ou des produits achetés et les frais d’envoi seront remboursés, les frais de retour restant à la charge du Client. Les retours des produits sont à effectuer dans leur état d’origine et complets (emballage, accessoires, notice…) ; ils doivent si possible être accompagnés d’une copie du justificatif d’achat. Conformément aux dispositions légales, vous trouverez ci-après le formulaire type de rétractation à nous adresser à l’adresse suivante : (adresse). Procédure de remboursement : (décrire précisément la procédure de remboursement – en particulier pour les gros achats)
    </br>
    <span class="note"><b>NOTE</b> : Modalités d’exercice des délais de rétractation. Attention, le délai de rétractation est sujet à beaucoup de conflits, le vendeur doit être très précautionneux s’il refuse de le faire valoir. Il existe cependant de nombreux cas dans lesquels il peut valablement refuser l’application du délai de rétractation (voir les dispositions de l’article L221-28 du code de la consommation et notre article complémentaire sur le sujet)</span></p>

    <p><strong>Article 12</strong> : Garanties <br>Conformément à la loi, le Vendeur assume les garanties de conformité et relative aux vices cachés des produits. Le Vendeur rembourse l’acheteur ou échange les produits apparemment défectueux ou ne correspondant pas à la commande effectuée. La demande de remboursement doit s’effectuer de la manière suivante : (détailler la procédure) Le Vendeur rappelle que le consommateur : – dispose d’un délai de 2 ans à compter de la délivrance du bien pour agir auprès du Vendeur – qu’il peut choisir entre le remplacement et la réparation du bien sous réserve des conditions prévues par les dispositions susmentionnées. apparemment défectueux ou ne correspondant – qu’il est dispensé d’apporter la preuve l’existence du défaut de conformité du bien durant les six mois suivant la délivrance du bien. – que, sauf biens d’occasion, ce délai sera porté à 24 mois à compter du 18 mars 2016 – que le consommateur peut également faire valoir la garantie contre les vices cachés de la chose vendue au sens de l’article 1641 du code civil et, dans cette hypothèse, il peut choisir entre la résolution de la vente ou une réduction du prix de vente (dispositions des articles 1644 du Code Civil). Garanties complémentaires : (décrire vos garanties complémentaires)
    </br>
    <span class="note"><b>NOTE</b> : Les garanties légales que le Vendeur doit respecter. Notamment v. les art. L211-4 et s. du Code de la consommation, les dispositions des art. 1641 et 1648 c. civ.</span></p>

    <p><strong>Article 13</strong> : Réclamations et médiation <br>Le cas échéant, l’Acheteur peut présenter toute réclamation en contactant la société au moyen des coordonnées suivantes (indiquer les coordonnées et la procédure).
    Conformément aux dispositions des art. L. 611-1 à L. 616-3 du Code de la consommation, le consommateur est informé qu’il peut recourir à un médiateur de la consommation dans les conditions prévues par le titre Ier du livre VI du code de la consommation.
    En cas d’échec de la demande de réclamation auprès du service client du Vendeur, ou en l’absence de réponse dans un délai de deux mois, le consommateur peut soumettre le différend à un médiateur qui tentera en toute indépendance de rapprocher les parties en vue d’obtenir une solution amiable.
    <span class="note"><b>NOTE</b> : On détaille ici le processus par lequel la personne peut contacter la société et présenter ses éventuelles réclamations.</span></p>

    <p><strong>Article 14</strong> : Résolution du contrat <br>v
    La commande peut être résolue par l’acheteur par lettre recommandée avec demande d’avis de réception dans les cas suivants : — livraison d’un produit non conforme aux caractéristiques de la commande ; — livraison dépassant la date limite fixée lors de la commande ou, à défaut de date, dans les trente jours suivant le paiement ; — de hausse du prix injustifiée ou de modification du produit. Dans ces cas, l’acheteur peut exiger le remboursement de l’acompte versé majoré des intérêts calculés au taux légal à partir de la date d’encaissement de l’acompte.<p>

    <p><strong>Article 15</strong> : Droits de propriété intellectuelle <br>Les marques, noms de domaines, produits, logiciels, images, vidéos, textes ou plus généralement toute information objet de droits de propriété intellectuelle sont et restent la propriété exclusive du vendeur. Aucune cession de droits de propriété intellectuelle n’est réalisée au travers des présentes CGV. Toute reproduction totale ou partielle, modification ou utilisation de ces biens pour quelque motif que ce soit est strictement interdite.</br>
    <span class="note"><b>NOTE</b> : On rappelle ici simplement que la vente n’occasionne aucune cessions d’IP.</span></p>

    <p><strong>Article 16</strong> : Force majeure <br>L’exécution des obligations du vendeur au terme des présentes est suspendue en cas de survenance d’un cas fortuit ou de force majeure qui en empêcherait l’exécution. Le vendeur avisera le client de la survenance d’un tel évènement dès que possible.</br>
    <span class="note"><b>NOTE</b> : Clause type classique</span></p>

    <p><strong>Article 17</strong> : Nullité et modification du contrat <br>Si l’une des stipulations du présent contrat était annulée, cette nullité n’entraînerait pas la nullité des autres stipulations qui demeureront en vigueur entre les parties. Toute modification contractuelle n’est valable qu’après un accord écrit et signé des parties.</br>
    <span class="note"><b>NOTE</b> : Clause classique de gestion de la nullité éventuelle du contrat</span></p>

    <p><strong>Article 18</strong> : Protection des données personnelles <br>Conformément au Règlement 2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données, le Vendeur met en place un traitement de données personnelles qui a pour finalité la vente et la livraison de produits et services définis au présent contrat. L’Acheteur est informé des éléments suivants : l’identité et les coordonnées du responsable du traitement et, le cas échéant, du représentant du responsable du traitement : le Vendeur, tel qu’indiqué en haut des présentes CGV ; - les coordonnées du délégué à la protection des données - la base juridique du traitement : l’exécution contractuelle - les destinataires ou les catégories de destinataires des données à caractère personnel, s’ils existent : le responsable du traitement, ses services en charge du marketing, les services en charge de la sécurité informatique, le service en charge de la vente, de la livraison et de la commande, les sous-traitants intervenants dans les opérations de livraison et de vente ainsi que toute autorité légalement autorisée à accéder aux données personnelles en question - aucun transfert hors UE n’est prévu - la durée de conservation des données : le temps de la prescription commerciale - la personne concernée dispose du droit de demander au responsable du traitement l’accès aux données à caractère personnel, la rectification ou l’effacement de celles-ci, ou une limitation du traitement relatif à la personne concernée, ou du droit de s’opposer au traitement et du droit à la portabilité des données - La personne concernée a le droit d’introduire une réclamation auprès d’une autorité de contrôle - les informations demandées lors de la commande sont nécessaires à l’établissement de la facture (obligation légale) et la livraison des biens commandés, sans quoi la commande ne pourras pas être passée. Aucune décision automatisée ou profilage n’est mis en oeuvre au travers du processus de commande.
    </br>
    <span class="note"><b>NOTE</b> : informations relatives au respect du RGPD</span></p>

    <p><strong>Article 18</strong> : Droit applicable et clauses <br>Toutes les clauses figurant dans les présentes conditions générales de vente, ainsi que toutes les opérations d’achat et de vente qui y sont visées, seront soumises au droit français.
    La nullité d’une clause contractuelle n’entraîne pas la nullité des présentes conditions générales de vente.</br>
    <span class="note"><b>NOTE</b> : Idem, clause classique permettant de gérer le droit applicable.</span></p>

    <p><strong>Article 19</strong> : Information des consommateurs<br>
    Aux fins d’information des consommateurs, les dispositions du code civil et du code de la consommation sont reproduites ci-après :</br>
    <u>Aricle 1641 du Code civil</u> : Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage que l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait connus.</br>
    <u>Aricle 1648 du Code civil</u> : L’action résultant des vices rédhibitoires doit être intentée par l’acquéreur dans un délai de deux ans à compter de la découverte du vice. Dans le cas prévu par l’article 1642-1, l’action doit être introduite, à peine de forclusion, dans l’année qui suit la date à laquelle le vendeur peut être déchargé des vices ou des défauts de conformité apparents.</br>
    <u>Article L. 217-4 du Code de la consommation</u> : Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.</br>
    <u>Article L. 217-5 du Code de la consommation</u> : Le bien est conforme au contrat : 1° S’il est propre à l’usage habituellement attendu d’un bien semblable et, le cas échéant :</br>
    s’il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l’acheteur sous forme d’échantillon ou de modèle.</br>
    s’il présente les qualités qu’un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l’étiquetage ; 2° Ou s’il présente les caractéristiques définies d’un commun accord par les parties ou est propre à tout usage spécial recherché par l’acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.</br>
    <u>Article L. 217-12 du Code de la consommation</u> : L’action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.</br>
    <u>Article L. 217-16 du Code de la consommation</u> : Lorsque l’acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l’acquisition ou de la réparation d’un bien meuble, une remise en état couverte par la garantie, toute période d’immobilisation d’au moins sept jours vient s’ajouter à la durée de la garantie qui restait à courir. Cette période court à compter de la demande d’intervention de l’acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d’intervention.</p>
  </div>
</div>
{% endblock %}
