{% extends "base.html.twig" %}

{% block title %}RGPD{% endblock %}

{% block idBody %}rgpd{% endblock %}

{% block body %}
  <div class="blocImage textCenter">
    <div class="title">
        <h1>Législation</h1>
        <!--<h2></h2>-->
    </div>
    {# <img class="imgPres" src="{{ asset('images/background-rgpd.jpg') }}" /> #}
    <svg class="wave waveTop fillWhite onImage" viewBox="0 0 1440 120" aria-hidden="true">
      <path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
    </svg>
  </div>

<div id="cgv" class="container">
  <div class="blocFull">
    <h1>Informations légales</h1>

    <p>Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parEco-Service. En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités.</p>

    <p>Editeur du site</br>
    Eco-Service</br>
    par Eco-Service</br>
    17 rue de Mickey</br>
    75008 Paris</br>
    France</br>
    Tél. : + 33 (0)6 62 58 44 69</br>
    Fax : + 33 (0)5 75 12 58 96</br>
    https://www.eco-service.fr</p>

    <p>Eco-Service est une EURL au capital de 208 000€</br>
    RCS B 859 774 71 - Siret : 4589632156852 - APE : 8965Z</br>
    N° déclaration CNIL : 8542163</p>

    <p><strong>Conditions d'utilisation</strong></br>
    Le site accessible par l'url suivant : www.eco-service.fr est exploité dans le respect de la législation française. L'utilisation de ce site est régie par les présentes conditions générales.   En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à tout moment et sans préavis par la société Eco-Service.</br>
    Eco-Service ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.</br></br>
    Responsable éditorial</br>
    M. Albert CHAMPAGNE</br>
    Eco-Service</br>
    par Eco-Service</br>
    17 rue de Mickey</br>
    75008 Paris</br>
    France</br>
    Tél. : + 33 (0)6 62 58 44 69</br>
    Fax : + 33 (0)5 75 12 58 96</br>
    https://www.eco-service.fr</p>

    <p><strong>Limitation de responsabilité</strong></br>
    Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).</br>
    Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, Eco-Service ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.</br>
    Les photos sont non contractuelles.</br>
    Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Eco-Service.</p>

    <p><strong>Litiges</strong></br>
    Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le   siège social de la société Eco-Service. La langue de référence, pour le règlement de contentieux éventuels, est le français.</p>

    <p><strong>Déclaration à la CNIL</strong></br>
    Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés, le site a fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés (www.cnil.fr).</p>

    <p><strong>Droit d'accès</strong></br>
    En application de cette loi, les internautes disposent d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie postale auprès de Eco-Service 49, Boulevard Antoine Gautier 33000 Bordeaux ou par voie électronique à l’adresse email suivante : contact@eco-service.fr.</br>
    Les informations personnelles collectées ne sont en aucun cas confiées à des tiers hormis pour l’éventuelle bonne exécution de la prestation commandée par l’internaute.</p>

    <p><strong>Confidentialité</strong></br>
    Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation.</p>

    <p><strong>Propriété intellectuelle</strong></br>
    Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société Eco-Service à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</br>
    Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Eco-Service. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.</br>
    Eco-Service est identiquement propriétaire des "droits des producteurs de bases de données" visés au Livre III, Titre IV, du Code de la Propriété Intellectuelle   (loi n° 98-536 du 1er juillet 1998) relative aux droits d'auteur et aux bases de données.</br>
    Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais uniquement en direction de la page d’accueil, accessible à l’URL suivante : https://www.eco-service.fr, à condition que ce lien s’ouvre dans une nouvelle fenêtre. En particulier un lien vers une sous page (« lien profond ») est interdit, ainsi que l’ouverture du présent site au sein d’un cadre (« framing »), sauf l'autorisation expresse et préalable de Eco-Service.</br>
    Pour toute demande d'autorisation ou d'information, veuillez nous contacter par email : contact@eco-service.fr. Des conditions spécifiques sont prévues pour la presse.</br>
    Par ailleurs, la mise en forme de ce site a nécessité le recours à des sources externes dont nous avons acquis les droits ou dont les droits d'utilisation sont ouverts : Seosight, Designed by themefire Developed by Crumina​. Les illustrations ont été acquises sur Adobe Stock.</p>

    <p><strong>Hébergeur</strong></br>
    Kiubi</br>
    Plateforme de gestion et création de sites internet</br>
    www.kiubi.com</br>
    contact@kiubi.com</p>

    <p><strong>Conditions de service</strong></br>
    Ce site est proposé en langages HTML5 et CSS3, pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de reEco-Service à des navigateurs modernes comme Safari, Firefox, Chrome,...</p>

    <p><strong>Informations et exclusion</strong></br>
    Eco-Service met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations auprès de Eco-Service, et signaler toutes modifications du site qu'il jugerait utile. Eco-Service n'est en aucun cas responsable de l'utilisation faite de ces informations,   et de tout préjudice direct ou indirect pouvant en découler.</p>

    <p><strong>Cookies</strong></br>
    Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de petits fichiers textes stockés sur votre disque dur afin d'enregistrer des données techniques sur votre navigation. Certaines parties de ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.</p>

    <p><strong>Liens hypertextes</strong></br>
    Les sites internet de Eco-Service peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet.</br>
    Eco-Service ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet. Eco-Service ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.</br>
    Les utilisateurs, les abonnés et les visiteurs des sites internet de Eco-Service ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de Eco-Service.</br>
    Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites internet de Eco-Service, il lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. Eco-Service se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.</p>

    <p><strong>Recherche</strong></br>
    En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune façon que Eco-Service reconnaît ou accepte quelque responsabilité quant à la teneur ou à l'utilisation dudit site.</p>

    <p><strong>Précautions d'usage</strong></br>
    Il vous incombe par conséquent de prendre les précautions d'usage nécessaires pour vous assurer que ce que vous choisissez d'utiliser ne soit pas entaché d'erreurs voire d'éléments de nature destructrice tels que virus, trojans, etc....</p>

    <p><strong>Responsabilité</strong></br>
    Aucune autre garantie n'est accordée au client, auquel incombe l'obligation de formuler clairement ses besoins et le devoir de s'informer. Si des informations fournies par Eco-Service apparaissent inexactes, il appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la vraisemblance des résultats obtenus. Eco-Service ne sera en aucune façon responsable vis à vis des tiers de l'utilisation par le client des informations ou de leur absence contenues dans ses produits y compris un de ses sites Internet.</p>

    <p><strong>Contactez-nous</strong></br>
    Eco-Service est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire en français par courrier électronique à : contact@eco-service.fr.</p>

    <h1>Conditions générales de ventes</h1>

    <p>Entre la Société Eco-service,</br>
    17 rue de Mickey, 75008 Paris,</br>
    au Capital Social de 268.000€,</br>
    immatriculée au Registre du Commerce et des Sociétés de PARIS,</br>
    sous le numéro SIRET 695642873,</br>
    représentée par M. Albert CHAMPAGNE</br>
    en qualité de gérant,</br>
    dûment habilité aux fins des présentes.</p>

    <p>La société peut être jointe par email en cliquant sur le formulaire de contact accessible via la page d’accueil du site.</p>

    <p>Ci-après le « Vendeur » ou la « Société ».</p>

    <p>D’une part,</br>
    Et la personne physique ou morale procédant à l’achat de produits ou services de la société,</br>
    Ci-après, « l’Acheteur », ou « le Client »</br>
    D’autre part,</br>
    Il a été exposé et convenu ce qui suit :</br>
    <span class="note"><b>NOTE</b> : On indique ici les premiers éléments obligatoires du contrat à savoir : l’identification précise du vendeur – obligations imposées notamment par l’article 6 de la LCEN (sanctions 1 an d’emprisonnement et 75.000€ d’amende à défaut), l’article 19 de la LCEN, les articles L111-1 et s. du Code de la conso.. Il est également obligatoire de fournir un point de contact (LCEN art. 6).</span></p>

    <p><b>PREAMBULE</b></br></br>
    Le Vendeur est éditeur de Produits et Services écoresponsables à destination de consommateurs, commercialisés par l’intermédiaire de son site Internet (http://eco-service.fr ). La liste et le descriptif des biens et services proposés par la Société peuvent être consultés sur les sites susmentionnés.</br>
    <span class="note"><b>NOTE</b> : L’activité de la société est présentée et explicitée de même que la destination des produits -ces obligations sont imposées par l’art. L111-1 code conso.</span></p>

    <p><strong>Article 1</strong> : Objet <br>Les présentes Conditions Générales de Vente déterminent les droits et obligations des parties dans le cadre de la vente en ligne de Produits ou Services proposés par le Vendeur.</br>
    <span class="note"><b>NOTE</b> : On détaille ici l’objet du contrat qui est la vente en ligne de Produits et de Services par le Vendeur</span></p>

    <p><strong>Article 2</strong> : Dispositions générales <br>Les présentes Conditions Générales de Vente (CGV) régissent les ventes de Produits ou de Services, effectuées au travers des sites Internet de la Société, et sont partie intégrante du Contrat entre l’Acheteur et le Vendeur. Elles sont pleinement opposables à l’Acheteur qui les a acceptés avant de passer commande.
    Le Vendeur se réserve la possibilité de modifier les présentes, à tout moment par la publication d’une nouvelle version sur son site Internet. Les CGV applicables alors sont celles étant en vigueur à la date du paiement (ou du premier paiement en cas de paiements multiples) de la commande. Ces CGV sont consultables sur le site Internet de la Société à l’adresse suivante : http://eco-service.fr .
    La Société s’assure également que leur acceptation soit claire et sans réserve en mettant en place une case à cocher et un clic de validation. Le Client déclare avoir pris connaissance de l’ensemble des présentes Conditions Générales de Vente, et le cas échéant des Conditions Particulières de Vente liées à un produit ou à un service, et les accepter sans restriction ni réserve.
    Le Client reconnaît qu’il a bénéficié des conseils et informations nécessaires afin de s’assurer de l’adéquation de l’offre à ses besoins.
    Le Client déclare être en mesure de contracter légalement en vertu des lois françaises ou valablement représenter la personne physique ou morale pour laquelle il s’engage.
    Sauf preuve contraire les informations enregistrées par la Société constituent la preuve de l’ensemble des transactions.</br>
    <span class="note"><b>NOTE</b> : Points à gérer : – Les modifications éventuelles des CGV – Formalité d’acceptation des CGV pour être certain que la personne a consenti au contrat – respect des obligations de conseil – on s’assure que le client est légalement en mesure de conclure un contrat – article L111-1 et s. c. conso.</span></p>

    <p><strong>Article 3</strong> : Prix <br>Les prix des produits vendus au travers des sites Internet sont indiqués en Euros hors taxes et précisément déterminés sur les pages de descriptifs des Produits. Ils sont également indiqués en euros toutes taxes comprises (TVA + autres taxes éventuelles) sur la page de commande des produits, et hors frais spécifiques d’expédition. Pour tous les produits expédiés hors Union européenne et/ou DOM-TOM, le prix est calculé hors taxes automatiquement sur la facture. Des droits de douane ou autres taxes locales ou droits d’importation ou taxes d’état sont susceptibles d’être exigibles dans certains cas. Ces droits et sommes ne relèvent pas du ressort du Vendeur. Ils seront à la charge de l’acheteur et relèvent de sa responsabilité (déclarations, paiement aux autorités compétentes, etc.). Le Vendeur invite à ce titre l’acheteur à se renseigner sur ces aspects auprès des autorités locales correspondantes.La Société se réserve la possibilité de modifier ses prix à tout moment pour l’avenir. Les frais de télécommunication nécessaires à l’accès aux sites Internet de la Société sont à la charge du Client. Le cas échéant également, les frais de livraison.
    </br>
    <span class="note"><b>NOTE TRES IMPORTANTE</b> : – on détaille le prix de vente de manière précise (attention sanctions de ce côté la JP est très sévère) – on précise l’ensemble des éléments relatifs à la livraison (qui ne sont pas précisés dans ces CGV car elles sont, à l’origine, destinées à des produits immatériels).</span></p>

    <p><strong>Article 2.1</strong> : Prix – exemple de clause illicite <br>La Société se réserve la possibilité de changer les prix à tout moment des produits achetés par le consommateur en particulier pour les abonnements – ceux-ci seront librement déterminés par le Vendeur par la suite, au fur et à mesure de l'évolution des prestations.</br>
    <span class="note"><b>NOTE</b> : Voici un exemple assez basique de clause illicite essentiellement en raison du fait que le vendeur peut modifier le prix à tout moment – sans qu’en soit vraiment clairement informé le consommateur (ex : vous lui vendez un abonnement à 20€ à l’origine, puis vous changez le prix à 200€)</span></p>

    <p><strong>Article 4</strong> : Conclusion du contrat en ligne <br>Conformément aux dispositions de l’article 1127-1 du Code civil, le Client doit suivre une série d’étapes pour conclure le contrat par voie électronique pour pouvoir réaliser sa commande : – Information sur les caractéristiques essentielles du Produit ; – Choix du Produit, le cas échéant, de ses options - Indication des coordonnées essentielles du Client (identification, email, adresse…) ; – Acceptation des présentes Conditions Générales de Vente – Vérification des éléments de la commande (formalité du double clic) et, le cas échéant, correction des erreurs. Avant de procéder à sa confirmation, l’Acheteur a la possibilité de vérifier le détail de sa commande, son prix, et de corriger ses éventuelles erreurs, ou annuler sa commande. La confirmation de la commande emportera formation du présent contrat. – Ensuite, suivi des instructions pour le paiement, paiement des produits, puis livraison de la commande. Le Client recevra confirmation par courrier électronique du paiement de la commande, ainsi qu’un accusé de réception de la commande la confirmant. Il recevra un exemplaire .pdf des présentes conditions générales de vente.
    Le client disposera pendant son processus de commande de la possibilité d’identifier d’éventuelles erreurs commises dans la saisie des données et de les corriger. La langue proposée pour la conclusion du contrat est la langue française.
    Les modalités de l’offre et des conditions générales de vente sont renvoyées par email à l’acheteur lors de la commande et archivées sur le site web du Vendeur. Le cas échéant, les règles professionnelles et commerciales auxquelles l’auteur de l’offre entend se soumettre sont consultables dans la rubrique “règles annexes” des présentes CGV, consultables sur le site du Vendeur à l’adresse suivante : http://eco-service.fr
    L’archivage des communications, de la commande, des détails de la commande, ainsi que des factures est effectué sur un support fiable et durable de manière constituer une copie fidèle et durable conformément aux dispositions de l’article 1360 du code civil. Ces informations peuvent être produites à titre de preuve du contrat.
    Pour les produits livrés, la livraison se fera à l’adresse indiquée par le Client. Aux fins de bonne réalisation de la commande, le Client s’engage à fournir des éléments d’identification véridiques. Le Vendeur se réserve la possibilité de refuser la commande, par exemple pour toute demande anormale, réalisée de mauvaise foi ou pour tout motif légitime.</br>
    <span class="note"><b>NOTE</b> : Plusieurs points très importants : - la loi (en l’occurence l’article 1127-1 du Code civil) impose de détailler le processus d’achat étape par étape au client, vous devez donc adapter ces points. De même, vous devez indiquer dans une rubrique annexe (“règles annexes”) l’existence de règles professionnelles spécifiques qui peuvent vous concerner (ex : vous êtes soumis à des règles professionnelles spécifiques - pour les professions règlementées). Vous devez également préciser les modalités d’archivage de votre offre, et indiquer les conditions d’accès au contrat archivé. On rappelle la mise à disposition des CGV par PDF après commande. Un autre point essentiel à gérer tient au fait que la commande ne peut être légalement valable que si le client a eu la possibilité de corriger les éventuelles erreurs (ex : adresse incorrecte, quantité de produits incorrecte…) et procéder à une confirmation - ce mécanisme doit impérativement être implémenté lors du process de commande (cf. art. 1127-2 du Code civil)
    </span></p>

    <p><strong>Article 5</strong> : Produits et services <br>Les caractéristiques essentielles des biens, des services et leurs prix respectifs sont mis à disposition de l’acheteur sur les sites Internet de la société, de même, le cas échéant, que le mode d’utilisation du produit. Conformément à l’article L112-1 du Code la consommation, le consommateur est informé, par voie de marquage, d’étiquetage, d’affichage ou par tout autre procédé approprié, des prix et des conditions particulières de la vente et de l’exécution des services avant toute conclusion du contrat de vente. Dans tous les cas, le montant total dû par l’Acheteur est indiqué sur la page de confirmation de la commande. Le prix de vente du produit est celui en vigueur indiqué au jour de la commande, celui-ci ne comportant par les frais de ports facturés en supplément. Ces éventuels frais sont indiqués à l’Acheteur lors du process de vente, et en tout état de cause au moment de la confirmation de la commande. Le Vendeur se réserve la possibilité de modifier ses prix à tout moment, tout en garantissant l’application du prix indiqué au moment de la commande. Lorsque les produits ou services ne sont pas exécutés immédiatement, une information claire est donnée sur la page de présentation du produit quant aux dates de livraison des produits ou services. Le client atteste avoir reçu un détail des frais de livraison ainsi que les modalités de paiement, de livraison et d’exécution du contrat, ainsi qu’une information détaillée relative à l’identité du vendeur, ses coordonnées postales, téléphoniques et électroniques, et à ses activités dans le contexte de la présente vente. Le Vendeur s’engage à honorer la commande du Client dans la limite des stocks de Produits disponibles uniquement. A défaut, le Vendeur en informe le Client ; si la commande a été passée, et à défaut d’accord avec le Client sur une nouvelle date de livraison, le Vendeur rembourse le client.
    Les informations contractuelles sont présentées en détail et en langue française. Les parties conviennent que les illustrations ou photos des produits offerts à la vente n’ont pas de valeur contractuelle. La durée de validité de l’offre des Produits ainsi que leurs prix est précisée sur les sites Internet de la Société, ainsi que la durée minimale des contrats proposés lorsque ceux-ci portent sur une fourniture continue ou périodique de produits ou services. Sauf conditions particulières, les droits concédés au titre des présentes le sont uniquement à la personne physique signataire de la commande (ou la personne titulaire de l’adresse email communiquée).
    </br>
    <span class="note"><b>NOTE</b> : Ici on détaille les biens vendus ainsi que les caractéristiques essentielles de l’offre - cette obligation est imposée par l’art. L111-1 code conso. relative aux obligations générales d’information précontractuelle. En pratique attention à bien vous assurer que ces obligations soient clairement respectées (clairement expliciter le produit, son prix, les frais de livraison, etc.)</span></p>

    <p><strong>Article 6</strong> : Conformité<br>
    Conformément à l’article L.411-1 du Code de la consommation, les produits et les services offerts à la vente au travers des présentes CGV répondent aux prescriptions en vigueur relatives à la sécurité et à la santé des personnes, à la loyauté des transactions commerciales et à la protection des consommateurs. Indépendamment de toute garantie commerciale, le Vendeur reste tenu des défauts de conformité et des vices cachés du produit.
    Conformément à l’article L.217-4, le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.
    Conformément aux dispositions légales en matière de conformité et de vices cachés (art. 1641 c. civ.), le Vendeur rembourse ou échange les produits défectueux ou ne correspondant pas à la commande. Le remboursement peut être demandé de la manière suivante : (décrire la procédure de remboursement, et comment le produit doit être retourné, et le remboursement des frais d’expédition le cas échéant).</br>
    <span class="note"><b>NOTE</b> : Si vous avez prévu une garantie commerciale (ex : satisfait ou remboursé en 30 jours) vous devez l’indiquer ici. Les articles L. 217-15 et suivants du code de la consommation précisent les modalités de la garantie commerciale - qui doit nécessairement faire l’objet d’un contrat écrit - celui-ci devant préciser les modalités de sa mise en œuvre, son prix, sa durée, son étendue territoriale, le nom et l’adresse du garant et reproduire l’article L. 217-16. Il faut également préciser si le Vendeur dispose d’un service après-vente (cf. art. L. 217-17)</span></p>

    <p><strong>Article 7</strong> : Clause de réserve de propriété <br>Les produits demeurent la propriété de la Société jusqu’au complet paiement du prix.</br>
    <span class="note"><b>NOTE</b> : Clause classique – optionnelle l’idée est de réserver la propriété du bien jusqu’au paiement du prix. A défaut le bien appartient à l’acheteur (qui n’a pas encore payé)</span></p>

    <p><strong>Article 8</strong> : Modalités de livraison <br>Les produits sont livrés à l’adresse de livraison qui a été indiquée lors de la commande et dans les délais indiqués. Ces délais ne prennent pas en compte le délai de préparation de la commande. Lorsque la livraison nécessite une prise de rendez-vous avec le Client (décrire la procédure). Lorsque le Client commande plusieurs produits en même temps ceux-ci peuvent avoir des délais de livraison différents acheminés selon les modalités suivantes (décrire la procédure). En cas de retard d’expédition (décrire la procédure). En cas de retard de livraison, le Client dispose de la possibilité de résoudre le contrat dans les conditions et modalités définies à l’Article L 216-2 du Code de la consommation. Le Vendeur procède alors au remboursement du produit et aux frais « aller » dans les conditions des dispositions des articles L216-3 et le L241-4 du Code de la consommation. Le Vendeur met à disposition un point de contact téléphonique (coût d’une communication locale à partir d’un poste fixe) indiqué dans l’email de confirmation de commande afin d’assurer le suivi de la commande. Le Vendeur rappelle qu’au moment où le Client pend possession physiquement des produits, les risques de perte ou d’endommagement des produits lui sont transférés. Il appartient au Client de notifier au transporteur toute réserve sur le produit livré.
    </br>
    <span class="note"><b>NOTE</b> : Description des modalités de livraison</span></p>

    <p><strong>Article 9</strong> : Disponibilité et présentation <br>En cas d’indisponibilité d’un article pour une période supérieure à 30 jours ouvrables, vous serez immédiatement prévenu des délais prévisibles de livraison et la commande de cet article pourra être annulée sur simple demande. Le Client pourra alors demander un avoir pour le montant de l’article ou son remboursement intégral et l’annulation de la commande.</br>
    <span class="note"><b>NOTE</b> : Gestion de la disponibilité des articles</span></p>

    <p><strong>Article 10</strong> : Paiement <br>Le paiement est exigible immédiatement à la commande, y compris pour les produits en précommande. Le Client peut effectuer le règlement par carte de paiement ou chèque bancaire. Les cartes émises par des banques domiciliées hors de France doivent obligatoirement être des cartes bancaires internationales (Mastercard ou Visa).Le paiement sécurisé en ligne par carte bancaire est réalisé par notre prestataire de paiement. Les informations transmises sont chiffrées dans les règles de l’art et ne peuvent être lues au cours du transport sur le réseau (décrire le process). Une fois le paiement lancé par le Client, la transaction est immédiatement débitée après vérification des informations. Conformément aux dispositions du Code monétaire et financier, l’engagement de payer donné par carte est irrévocable. En communiquant ses informations bancaires lors de la vente, le Client autorise le Vendeur à débiter sa carte du montant relatif au prix indiqué. Le Client confirme qu’il est bien le titulaire légal de la carte à débiter et qu’il est légalement en droit d’en faire usage. En cas d’erreur, ou d’impossibilité de débiter la carte, la Vente est immédiatement résolue de plein droit et la commande annulée.
    </br>
    <span class="note"><b>NOTE</b> : Précisions importantes relatives au paiement, le type de cartes acceptées, les chèques, etc.</span></p>

    <p><strong>Article 11</strong> : Délai de rétractation <br>Conformément aux dispositions de l’article L 221-5 du Code de la consommation, l’Acheteur dispose du droit de se rétracter sans donner de motif, dans un délai de quatorze (14) jours à la date de réception de sa commande. Le droit de rétractation peut être exercé en contactant la Société de la manière suivante : (décrire la procédure précise). Nous informons les Clients que conformément aux dispositions des articles L. 221-18 à L. 221-28 du Code de la consommation, ce droit de rétractation ne peut être exercé pour (décrire les biens non sujets à ces dispositions). En cas d’exercice du droit de rétractation dans le délai susmentionné, le prix du ou des produits achetés et les frais d’envoi seront remboursés, les frais de retour restant à la charge du Client. Les retours des produits sont à effectuer dans leur état d’origine et complets (emballage, accessoires, notice…) ; ils doivent si possible être accompagnés d’une copie du justificatif d’achat. Conformément aux dispositions légales, vous trouverez ci-après le formulaire type de rétractation à nous adresser à l’adresse suivante : (adresse). Procédure de remboursement : (décrire précisément la procédure de remboursement – en particulier pour les gros achats)
    </br>
    <span class="note"><b>NOTE</b> : Modalités d’exercice des délais de rétractation. Attention, le délai de rétractation est sujet à beaucoup de conflits, le vendeur doit être très précautionneux s’il refuse de le faire valoir. Il existe cependant de nombreux cas dans lesquels il peut valablement refuser l’application du délai de rétractation (voir les dispositions de l’article L221-28 du code de la consommation et notre article complémentaire sur le sujet)</span></p>

    <p><strong>Article 12</strong> : Garanties <br>Conformément à la loi, le Vendeur assume les garanties de conformité et relative aux vices cachés des produits. Le Vendeur rembourse l’acheteur ou échange les produits apparemment défectueux ou ne correspondant pas à la commande effectuée. La demande de remboursement doit s’effectuer de la manière suivante : (détailler la procédure) Le Vendeur rappelle que le consommateur : – dispose d’un délai de 2 ans à compter de la délivrance du bien pour agir auprès du Vendeur – qu’il peut choisir entre le remplacement et la réparation du bien sous réserve des conditions prévues par les dispositions susmentionnées. apparemment défectueux ou ne correspondant – qu’il est dispensé d’apporter la preuve l’existence du défaut de conformité du bien durant les six mois suivant la délivrance du bien. – que, sauf biens d’occasion, ce délai sera porté à 24 mois à compter du 18 mars 2016 – que le consommateur peut également faire valoir la garantie contre les vices cachés de la chose vendue au sens de l’article 1641 du code civil et, dans cette hypothèse, il peut choisir entre la résolution de la vente ou une réduction du prix de vente (dispositions des articles 1644 du Code Civil). Garanties complémentaires : (décrire vos garanties complémentaires)
    </br>
    <span class="note"><b>NOTE</b> : Les garanties légales que le Vendeur doit respecter. Notamment v. les art. L211-4 et s. du Code de la consommation, les dispositions des art. 1641 et 1648 c. civ.</span></p>

    <p><strong>Article 13</strong> : Réclamations et médiation <br>Le cas échéant, l’Acheteur peut présenter toute réclamation en contactant la société au moyen des coordonnées suivantes (indiquer les coordonnées et la procédure).
    Conformément aux dispositions des art. L. 611-1 à L. 616-3 du Code de la consommation, le consommateur est informé qu’il peut reEco-Service à un médiateur de la consommation dans les conditions prévues par le titre Ier du livre VI du code de la consommation.
    En cas d’échec de la demande de réclamation auprès du service client du Vendeur, ou en l’absence de réponse dans un délai de deux mois, le consommateur peut soumettre le différend à un médiateur qui tentera en toute indépendance de rapprocher les parties en vue d’obtenir une solution amiable.
    <span class="note"><b>NOTE</b> : On détaille ici le processus par lequel la personne peut contacter la société et présenter ses éventuelles réclamations.</span></p>

    <p><strong>Article 14</strong> : Résolution du contrat <br>v
    La commande peut être résolue par l’acheteur par lettre recommandée avec demande d’avis de réception dans les cas suivants : — livraison d’un produit non conforme aux caractéristiques de la commande ; — livraison dépassant la date limite fixée lors de la commande ou, à défaut de date, dans les trente jours suivant le paiement ; — de hausse du prix injustifiée ou de modification du produit. Dans ces cas, l’acheteur peut exiger le remboursement de l’acompte versé majoré des intérêts calculés au taux légal à partir de la date d’encaissement de l’acompte.<p>

    <p><strong>Article 15</strong> : Droits de propriété intellectuelle <br>Les marques, noms de domaines, produits, logiciels, images, vidéos, textes ou plus généralement toute information objet de droits de propriété intellectuelle sont et restent la propriété exclusive du vendeur. Aucune cession de droits de propriété intellectuelle n’est réalisée au travers des présentes CGV. Toute reproduction totale ou partielle, modification ou utilisation de ces biens pour quelque motif que ce soit est strictement interdite.</br>
    <span class="note"><b>NOTE</b> : On rappelle ici simplement que la vente n’occasionne aucune cessions d’IP.</span></p>

    <p><strong>Article 16</strong> : Force majeure <br>L’exécution des obligations du vendeur au terme des présentes est suspendue en cas de survenance d’un cas fortuit ou de force majeure qui en empêcherait l’exécution. Le vendeur avisera le client de la survenance d’un tel évènement dès que possible.</br>
    <span class="note"><b>NOTE</b> : Clause type classique</span></p>

    <p><strong>Article 17</strong> : Nullité et modification du contrat <br>Si l’une des stipulations du présent contrat était annulée, cette nullité n’entraînerait pas la nullité des autres stipulations qui demeureront en vigueur entre les parties. Toute modification contractuelle n’est valable qu’après un accord écrit et signé des parties.</br>
    <span class="note"><b>NOTE</b> : Clause classique de gestion de la nullité éventuelle du contrat</span></p>

    <p><strong>Article 18</strong> : Protection des données personnelles <br>Conformément au Règlement 2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données, le Vendeur met en place un traitement de données personnelles qui a pour finalité la vente et la livraison de produits et services définis au présent contrat. L’Acheteur est informé des éléments suivants : l’identité et les coordonnées du responsable du traitement et, le cas échéant, du représentant du responsable du traitement : le Vendeur, tel qu’indiqué en haut des présentes CGV ; - les coordonnées du délégué à la protection des données - la base juridique du traitement : l’exécution contractuelle - les destinataires ou les catégories de destinataires des données à caractère personnel, s’ils existent : le responsable du traitement, ses services en charge du marketing, les services en charge de la sécurité informatique, le service en charge de la vente, de la livraison et de la commande, les sous-traitants intervenants dans les opérations de livraison et de vente ainsi que toute autorité légalement autorisée à accéder aux données personnelles en question - aucun transfert hors UE n’est prévu - la durée de conservation des données : le temps de la prescription commerciale - la personne concernée dispose du droit de demander au responsable du traitement l’accès aux données à caractère personnel, la rectification ou l’effacement de celles-ci, ou une limitation du traitement relatif à la personne concernée, ou du droit de s’opposer au traitement et du droit à la portabilité des données - La personne concernée a le droit d’introduire une réclamation auprès d’une autorité de contrôle - les informations demandées lors de la commande sont nécessaires à l’établissement de la facture (obligation légale) et la livraison des biens commandés, sans quoi la commande ne pourras pas être passée. Aucune décision automatisée ou profilage n’est mis en oeuvre au travers du processus de commande.
    </br>
    <span class="note"><b>NOTE</b> : informations relatives au respect du RGPD</span></p>

    <p><strong>Article 18</strong> : Droit applicable et clauses <br>Toutes les clauses figurant dans les présentes conditions générales de vente, ainsi que toutes les opérations d’achat et de vente qui y sont visées, seront soumises au droit français.
    La nullité d’une clause contractuelle n’entraîne pas la nullité des présentes conditions générales de vente.</br>
    <span class="note"><b>NOTE</b> : Idem, clause classique permettant de gérer le droit applicable.</span></p>

    <p><strong>Article 19</strong> : Information des consommateurs<br>
    Aux fins d’information des consommateurs, les dispositions du code civil et du code de la consommation sont reproduites ci-après :
    <ul>
      <li><u>Aricle 1641 du Code civil</u> : Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage que l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait connus.</li>
      <li><u>Aricle 1648 du Code civil</u> : L’action résultant des vices rédhibitoires doit être intentée par l’acquéreur dans un délai de deux ans à compter de la découverte du vice. Dans le cas prévu par l’article 1642-1, l’action doit être introduite, à peine de forclusion, dans l’année qui suit la date à laquelle le vendeur peut être déchargé des vices ou des défauts de conformité apparents.</li>
      <li><u>Article L. 217-4 du Code de la consommation</u> : Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.</li>
      <li><u>Article L. 217-5 du Code de la consommation</u> : Le bien est conforme au contrat : 1° S’il est propre à l’usage habituellement attendu d’un bien semblable et, le cas échéant :</li>
      <ul>
        <li>s’il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l’acheteur sous forme d’échantillon ou de modèle.</li>
        <li>s’il présente les qualités qu’un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l’étiquetage ; 2° Ou s’il présente les caractéristiques définies d’un commun accord par les parties ou est propre à tout usage spécial recherché par l’acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.</li>
      </ul>
      <li><u>Article L. 217-12 du Code de la consommation</u> : L’action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.</li>
      <li><u>Article L. 217-16 du Code de la consommation</u> : Lorsque l’acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l’acquisition ou de la réparation d’un bien meuble, une remise en état couverte par la garantie, toute période d’immobilisation d’au moins sept jours vient s’ajouter à la durée de la garantie qui restait à Eco-Service. Cette période court à compter de la demande d’intervention de l’acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d’intervention.</li>
    </ul></p>

    <h1>Charte de protection des données personnelles des clients</h1>

    <p><span class="title-part">1. Nos engagements dans la protection des données personnelles</span></br>
    Depuis sa création, en 1980, Eco-Service a toujours entretenu une relation de proximité avec ses clients, et aussi avec le tissu social et économique local. Pour répondre à une numérisation croissante des échanges personnalisés avec ses clients Eco-Service crée une Charte de protection des données personnelles partagée avec ses partenaires.</br>
    Dans la continuité, le maintien d’une relation privilégiée avec chacun de ses clients et le développement d’une offre accessible et adaptée, Avec votre consentement Eco-Service, vous informe de ses engagements en matière de protection de vos données personnelles.</br>
    Pour que vous puissiez réaliser vos achats en toute tranquillité, cette charte présente dans un document unique des informations claires, simples et sincères concernant les traitements de données opérées par Avec votre consentement Eco-Service. Cette charte vous permettra de mieux comprendre quelles sont les informations et les données à caractère personnel (ci-après dénommées « les données personnelles ») que nous collectons et l’utilisation que nous en faisons pour vous apporter au quotidien de nouveaux services dans le respect de tous vos droits sur vos données personnelles.</br>
    Quel que soit le canal de vente ou de contact que vous utilisez, Eco-Service s’engage, conformément à la législation en vigueur, à protéger votre vie privée en assurant la protection, la confidentialité et la sécurité des données personnelles que vous nous confiez.</br>
    </br>
    <strong>Les Grands Principes</strong></br>
    Avec votre consentement Eco-Service s’engage sur les principes essentiels pour le respect des droits fondamentaux et de l’ensemble des lois et réglementations en vigueur :
    <ul>
      <li><u>Transparence</u> : nous vous fournissons toutes les informations utiles sur les finalités et les destinataires de vos données collectées.</li>
      <li><u>Légitimité et pertinence</u> : nous collectons et traitons uniquement les données nécessaires aux finalités déclarées.</li>
      <li><u>Confidentialité et intégrité</u> : nous mettons en place toutes les mesures techniques et organisationnelles raisonnables pour protéger vos données personnelles contre la divulgation, la perte, l’altération ou l’accès par un tiers non autorisé.</li>
      <li><u>Conservation</u> : nous conservons vos données personnelles uniquement le temps nécessaire aux fins du traitement ou du service déterminé.</li>
      <li><u>Droit d’accès</u> : nous vous offrons la possibilité d’accéder, de modifier et de corriger vos données personnelles directement via vos espaces personnels sur nos différents sites. Nous nous tenons à votre disposition pour exercer votre droit de suppression.</li>
    </ul></p>

    <p><span class="title-part">2. NOS USAGES DE VOS DONNÉES PERSONNELLES</span>
      <p><strong>2.1. A quelles occasions collectons-nous vos données personnelles ?</strong></br>
      Vos données personnelles peuvent être recueillies dans le cadre :
      <ul>
        <li>de votre adhésion à nos programmes de fidélité.</li>
        <li>de la visite de nos services en ligne.</li>
        <li>de notre relation commerciale.</li>
        <li>de vos achats de nos produits et de l’utilisation de nos services ou de ceux de nos partenaires.</li>
        <li>de vos contacts avec notre service clients.</li>
      </ul></p></p>

      <p><strong>2.2. Quelle est la nature des données collectées ?</strong></br>
      Les données personnelles déclaratives sont celles que vous fournissez dans le cadre de notre relation commerciale ou avec nos partenaires lors par exemple :
      <ul>
        <li>de la création de votre compte client et de votre adhésion au programme de fidélité.</li>
        <li>de la gestion de vos commandes.</li>
        <li>du suivi d’informations commerciales ou promotionnelles de nos enseignes ou de nos services en ligne.</li>
        <li>de tout échange avec Eco-Service comme par exemple avec le service clients.</li>
        <li>de participation à des jeux concours.</li>
      </ul>
      Ces données sont collectées par des formulaires qu’ils soient dématérialisés sur nos sites internet ou applications mobiles, papier ou en réponse à des questions posées par exemple par notre service clients.</br>
      Les données déclaratives obligatoires sont précisées par un astérisque sur le support de la collecte.</br>
      Pour bénéficier de nos services et prestations, il est nécessaire sauf cas particulier de collecter :
      <ul>
        <li>nom, prénom, adresse postale, date de naissance, adresse de courrier électronique, numéro de téléphone fixe ou mobile.</li>
        <li>les numéros de carte de fidélité.</li>
        <li>Les données personnelles liées aux produits et services de Eco-Service. Elles proviennent de votre utilisation ou de vos achats de nos produits et services dans le cadre de notre relation commerciale.</li>
      </ul>
        Sur ce site nous avons ainsi collecté :
        <ul>
          <li>des informations relatives au montant, à la nature de vos achats mais également des données personnelles relatives à votre utilisation de nos services en ligne.</li>
          <li>les commandes, les factures et leurs suivis.</li>
          <li>les tickets de caisse.</li>
          <li>le parcours client sur nos services en ligne.</li>
        </ul>
      </ul>
      <strong>Exclusion des catégories particulières de données personnelles</strong></br>
      Conformément à la loi, nous ne collectons en aucun cas les catégories particulières de données personnelles que sont les données qui révèlent l'origine raciale ou ethnique, les opinions politiques, les convictions religieuses ou philosophiques ou l'appartenance syndicale, les données personnelles génétiques, les données personnelles biométriques aux fins d'identifier une personne physique de manière unique, les données personnelles concernant la santé ou les données personnelles concernant la vie sexuelle ou l'orientation sexuelle d'une personne physique.
      Ces catégories de données personnelles particulières ne font jamais l’objet d’une collecte ou d’un traitement par Eco-Service.</p>

    <p><strong>2.3. Comment utilisons-nous vos données ?</strong></br>
    Nous utilisons vos données conformément aux conditions de la présente Charte, aux conditions générales de vente ou d’utilisation de nos produits ou services et ce dans une préoccupation constante de transparence et de sécurité de vos données. Cas d’utilisation :
    <ul>
      <li>lorsque vous avez consenti, suite à une information claire, apparente et précise concernant le traitement opéré, pour une ou plusieurs finalités spécifiques soit au moyen d’une déclaration écrite, y compris par voie électronique, soit du fait d’une absence d’opposition soit d’une déclaration orale.</li>
      <li>lorsqu’elles sont nécessaires à l'exécution d’un contrat de vente, des conditions générales de vente ou d’utilisation ou à l'exécution de mesures précontractuelles prises à votre demande.</li>
      <li>pour le respect des obligations légales ou réglementaires de Eco-Service (comme par exemple la garantie, la facturation, lutte contre la fraude).</li>
      <li>lorsque les intérêts légitimes de Eco-Service ou de destinataires peuvent être de nature à justifier un traitement par Eco-Service de vos données personnelles (exemple : assurance...).</li>
    </ul>
    Ces traitements sont mis en œuvre en prenant en compte vos intérêts et vos droits fondamentaux en tant que clients. A ce titre, ils s’accompagnent de mesures et garanties pour assurer la protection de vos intérêts et de vos droits, tout en établissant un juste équilibre avec les intérêts légitimes que nous poursuivons.</p>

    <p><strong>2.4. Pourquoi collectons-nous vos données ?</strong></br>
    <ul>
      <li>gérer notre relation commerciale.</li>
      <li>gérer notre programme de fidélité.</li>
      <li>proposer nos services, traiter vos achats et commandes et celles de nos partenaires.</li>
      <li>livrer les produits et services.</li>
      <li>communiquer avec vous concernant vos commandes, vos factures, les produits, les services et les offres promotionnelles.</li>
      <li>conserver et mettre à jour nos fichiers-clients.</li>
      <li>informer et fournir toutes les explications relatives à notre relation notamment au travers de notre service consommateur.</li>
      <li>proposer des services adaptés, personnalisés notamment dans le cadre de l’évolution de nos produits et services.</li>
      <li>améliorer votre expérience-client au travers d’une meilleure connaissance de nos client.</li>
      <li>grâce aux analyses de données, nous permettre de personnaliser nos produits et services pour les adapter aux besoins de nos clients.</li>
      <li>suggérer dans un cadre marketing des services et des produits innovants ou des offres complémentaires ou promotionnelles ou afficher des publicités pertinentes et ciblées basées sur des comportements antérieurs ou toute autre information utile, après avoir recueilli votre consentement.</li>
      <li>la prospection et le développement de nos activités.</li>
      <li>réaliser des analyses et des statistiques, et développer des outils de pilotage, de mesure et de reporting en vue d’adapter nos activités commerciales et marketing.</li>
      <li>pour des besoins techniques (ex : accéder à votre compte client, mémoriser vos données personnelles pour vous éviter d’avoir à les saisir de nouveau pendant votre visite ou à l’occasion de vos prochaines visites sur le site).</li>
    </ul></p>

    <p><strong>2.5. Quelles analyses réalisons-nous sur vos données ?</strong></br>
    Avec votre consentement Eco-Service ainsi que son partenaire « Relevanc », société du même groupe, réalisent chacun des analyses des données collectées à des fins marketing.
    Par la suite ces données sont transformées en profils détaillés anonymes pour être utilisés par nos enseignes et nos partenaires commerciaux dans le but de :
    <ul>
      <li>réaliser des campagnes publicitaires sur le web (display) ciblées sur les centres d’intérêts des clients.</li>
      <li>faire profiter nos clients, d’offres avantageuses qui correspondent à leurs habitudes de consommation.</li>
    </ul>
    Si vous ne souhaitez plus bénéficier de publicités ciblées, en fonction de vos centres d’intérêt, de la part de notre filiale RelevanC, vous disposez de plusieurs options vous permettant de désactiver cette fonctionnalité :
    <ul>
      <li>En complétant le formulaire envoyé par email à tous nos clients.</li>
      <li>Sur votre appareil mobile, activez le paramètre Suivi publicitaire limité dans les réglages de votre téléphone iOS ou le paramètre permettant de désactiver l’affichage des annonces personnalisées sur votre téléphone Android.</li>
    </ul>
    <strong>À propos des publicités personnalisées</strong></br>
    Nous collaborons avec des partenaires annonceurs afin de vous proposer des contenus publicitaires toujours plus utiles et intéressants. Pour ce faire, nous utilisons par exemple les informations que nos partenaires nous communiquent. Nous pouvons ainsi vous proposer des publicités plus pertinentes.
    </br><span class="note"><b>Voici un exemple</b> : Imaginons qu'un industriel souhaite diffuser une offre spéciale de lancement pour son nouveau produit sur un de nos sites. Il souhaite cibler en priorité les amateurs de ce nouveau produit. Afin de proposer cette offre spéciale à ces clients qui disposent d'un compte ou d’une carte de fidélité dans l’une de nos enseigne, l’industriel peut communiquer à RelevanC un groupe d'adresses email cryptées tirées de sa liste de diffusion. RelevanC recoupe alors cette liste avec les adresses email cryptées associées aux comptes de nos utilisateurs, afin de leur proposer un encart publicitaire dans nos bannières contenant cette offre spéciale de lancement.</span></p>

    <p><strong>2.6. Qui sont les destinataires de vos données personnelles ?</strong></br>
    Nous veillons à ce que seules des personnes habilitées au sein de Eco-Service et RelevanC avec votre consentement, puissent accéder à vos données personnelles lorsque cet accès est nécessaire à l’exécution de notre relation commerciale.
    Nos prestataires de services peuvent également être destinataires des données personnelles strictement nécessaires à la réalisation des prestations que nous leur aurons confiées. (exemple : adresse de livraison...).
    Certaines données personnelles peuvent aussi être adressées à des tiers pour satisfaire aux obligations légales, réglementaires ou conventionnelles ou aux autorités légalement habilitées.</p>

    <p><strong>2.7. Où sont stockées vos données personnelles ?</strong></br>
    Les données sont stockées par Eco-Service qui les collecte, dans le respect de la législation Française et de la réglementation Européenne.
    Nous pouvons être amenés à partager avec d’autres sociétés des données personnelles nécessaires à la mise en œuvre des services que vous avez contractés ou souscrit (exemples : livraison à domicile, point de retrait, alerte sur disponibilité produit…) Les opérations avec un tiers destinataires de vos données font l’objet d’un contrat afin de vous assurer de la protection de vos données et du respect de vos droits.
    Dans le cadre d’un transfert vers un pays hors Union Européenne, des règles assurant la protection et la sécurité de ces informations ont été mises en place.</p>

    <p><strong>2.8. Combien de temps nous conservons vos données personnelles ?</strong></br>
    Les durées de conservations des données respectent les recommandations de la CNIL et/ou les obligations légales :
    <ul>
      <li>Catégories de données personnelles	Règles de conservation active</li>
      <li>Données de votre compte client	3 ans après le dernier contact client</li>
      <li>Données de votre programme de fidélité	3 ans après le dernier contact client</li>
      <li>Données personnelles de connexion pour les sites internet	1 an</li>
      <li>Cookies	Durée de validité 13 mois maximum</li>
      <li>Données d’achat	Facture 5 ans</li>
      <li>Données comportementales	Données conservées tant que le client reste actif et ne demande pas de suppression de ses données. Pas de limitation pour les données anonymisées.</li>
      <li>Données prospects	Données conservées tant que le client reste actif et ne demande pas de suppression de ses données.</li>
      <li>Données d’identification	Données conservées tant que le client reste actif et ne demande pas de suppression de ses données.</li>
      <li>Segmentation	Données conservées tant que le client reste actif et ne demande pas de suppression de ses données. Pas de limitation pour les données anonymisées.</li>
    </ul></p>

    <p><span class="title-part">3. COMMENT EXERCER VOS DROITS D’ACCÈS ?</span>
    <p>Vous pouvez exercer vos droits d’accès à travers votre compte client dans l’espace [Mon compte et mes données] ou par courrier accompagné d’une copie de tout document d’identité en s’adressant au Service DPO, Délégué de la protection des données à caractère personnel à l’adresse suivante : 17 avenue de la Falaise - 38 360 SASSENAGE ou par email : dpo@Eco-Service.com</p></p>

    <p><span class="title-part">4. NOS MESURES DE SÉCURISATION DES DONNÉES</span>
    <p><strong>4.1. Nos engagements de sécurité et de confidentialité</strong></br>
    Respecter votre droit à la protection, à la sécurité et à la confidentialité de vos données, est notre priorité. Eco-Service s’engage à mettre en œuvre des mesures de sécurité adaptées au degré de sensibilité des données personnelles pour les protéger contre toute intrusion malveillante, toute perte, altération ou divulgation à des tiers non autorisés.
    Lors de l’élaboration, de la conception, de la sélection et de l’utilisation de nos services qui reposent sur le traitement de données personnelles, Eco-Service prend en compte le droit à la protection des données personnelles dès leur conception.
    A ce titre, par exemple nous procédons à la pseudonymisation ou à l’anonymisation, selon les cas, des données personnelles dès que cela est possible ou nécessaire.
    Toutes les données personnelles étant confidentielles, leur accès est limité aux collaborateurs de Avec votre consentement Eco-Service et RelevanC, ou prestataires agissant pour le compte de Avec votre consentement Eco-Service, qui en ont besoin dans le cadre de l’exécution de leurs missions. Toutes les personnes ayant accès à vos données sont liées par un devoir de confidentialité et s’exposent à des mesures disciplinaires et/ou autres sanctions si elles ne respectent pas ces obligations.
    Les opérations avec un tiers destinataires font l’objet d’un contrat afin de vous assurer de la protection de vos données personnelles et du respect de vos droits.
    Au sein de Eco-Service, nous nous engageons totalement pour protéger les données personnelles que vous nous confiez. Dans ce souci permanent de sécurité et de protection, nous vous encourageons à faire preuve de prudence pour empêcher tout accès non autorisé à vos données personnelles et à protéger vos terminaux (ordinateur, smartphone, tablette) contre tout accès non souhaité, voire malveillant, par un mot de passe robuste, qu’il est recommandé de changer régulièrement. Si vous partagez un terminal, nous vous recommandons de vous déconnecter après chaque utilisation.</p>

    <p><strong>4.2. Notre délégué à la protection des données personnelles</strong></br>
    Nous avons désigné un délégué à la protection des données personnelles (DPO) dont les coordonnées personnelles sont les suivantes : Nadia Kharbeche, Délégué de la protection des données à caractère personnel, 17 avenue de la Falaise - 38 360 SASSENAGE c.pellarin@Eco-Service.com;</p></p>

    <p><span class="title-part">5. GLOSSAIRE</span>
    <p><b>« Anonymisation »</b> est définie comme <b>« le résultat du traitement des données personnelles afin d’empêcher, de façon irréversible, toute identification »</b>.</br></br>
    <b>« Pseudonymisation »</b> est une technique qui consiste à remplacer un identifiant (ou plus généralement des données à caractère personnel) par un pseudonyme. Cette technique permet la ré-identification ou l’étude de corrélations en cas de besoin particulier.</br></br>
    <b>« Collecter »</b>, s’entend du fait de recueillir des données à caractère personnel. Cette collecte peut s’effectuer, notamment, à l’aide de questionnaires ou de formulaires en ligne.</br></br>
    <b>« Consentement »</b>, votre consentement s’entend de toute manifestation de volonté, libre, spécifique, éclairée et univoque par laquelle vous acceptez, par une déclaration ou par un acte positif clair, que des données à caractère personnel vous concernant fassent l'objet d'un traitement.</br></br>
    <b>« Données à caractère personnel »</b> ou <b>« données personnelles »</b>, désignent toute information se rapportant à une personne physique identifiée ou identifiable; qui peut être identifiée, directement ou indirectement, notamment par référence à un identifiant, tel qu'un nom, un numéro d'identification, des données de localisation, un identifiant en ligne, ou à un ou plusieurs éléments spécifiques propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale.</br></br>
    <b>« Droit d’accès »</b> : désigne l’ensemble des droits fondamentaux tels que décrit dans la réglementation Européenne , portant sur :
    <ul>
      <li>le droit à l’information.</li>
      <li>le droit d’accès.</li>
      <li>le droit de rectification.</li>
      <li>le droit à l’effacement ou droit à l’oubli.</li>
      <li>le droit à la portabilité.</li>
      <li>les droits d’opposition.</li>
      <li>le droit à la limitation du traitement.</li>
      <li>le droit de définir des directives relatives à la conservation, l’effacement et la communication de ses données personnelles après sa mort.</li>
    </ul>
    <b>« Limitation de traitement »</b> s’entend du marquage de données à caractère personnel conservées, en vue de limiter leur traitement futur.</br></br>
    <b>« Minimisation »</b> associé à celui de <b>« données »</b> évoque une limitation apportée à la collecte ou à l’utilisation d’informations.</br></br>
    <b>« Mutualisation des données »</b> s’entend du résultat de la mise en commun de bases de données clients ou prospects de plusieurs partenaires.</br></br>
    <b>« Profilage »</b> s’entend comme <b>« toute forme de traitement automatisé de données à caractère personnel consistant à utiliser ces données à caractère personnel pour évaluer certains aspects personnels relatifs à une personne physique, notamment pour analyser ou prédire des éléments concernant le rendement au travail, la situation économique, la santé, les préférences personnelles, les intérêts, la fiabilité, le comportement, la localisation ou les déplacements de cette personne physique »</b>.</br></br>
    <b>« Produits ou services »</b> s’entendent de l’ensemble des produits et services y compris technologiques (sites, applications et services associés) proposés ou qui seront proposés par Eco-Service; « Prospection commerciale » s’entend comme la recherche de clients, le fait qu’elle soit commerciale signifie qu’elle est relative au commerce, qu’elle y a trait.</br></br>
    <b>« Relation commerciale »</b> regroupe l’ensemble des relations entre Eco-Service et ses clients comme, par exemple, lors de vos achats de produits ou services, de l’utilisation du service après- vente, de votre participation à des jeux en lignes, du retour de vos produits, de vos réclamations, de votre participation à des enquêtes de satisfaction ou dans le cadre de votre programme de fidélité.</br></br>
    <b>« Responsable de traitement »</b> est la personne ou l'organisme qui, seul ou conjointement, détermine les objectifs et les modalités de traitement de vos données personnelles.</br></br>
    <b>« Segmentation comportementale »</b> permet, à partir d’informations sur les comportements observés, d’établir le profil socio-économique, voire psychologique, d’une personne, afin de la classer dans un segment.</br></br>
    <b>« Services en ligne »</b> s’entendent des services numériques proposés par Eco-Service tels que site internet, applications, services associés ou services mobiles.</br></br>
    <b>« Sous-traitant »</b> est celui qui traite des données à caractère personnel pour le compte de la personne, de la structure ou de l’organisme responsable du traitement.</br></br>
    <b>« Suivi du comportement des personnes »</b>, parfois dénommé <b>« déduction de profil »</b>, désigne des techniques permettant d’évaluer des aspects comportementaux d’une personne physique relativement à son utilisation d’internet.</br></br>
    <b>« Tiers »</b> se réfère à toute personne autre que Eco-Service et vous-même.</br></br>
    <b>« Traitement des données personnelles »</b> signifie toute opération ou groupe d’opérations appliqué à vos données, quel que soit le support de service en ligne en question et le procédé utilisé.
  </div>
</div>
{% endblock %}
