{{ form_start(form, {attr: {class: 'filter'}}) }}

<div class="title-filter">
  <div class="rechercher">
    <h4>Rechercher : </h4>
    {{ form_widget(form.q) }}
  </div>
</div>

<button type="submit" class="btn">Filtrer</button>

{{ form_end(form) }}
