#showArticle {
  .blocImage {
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
    @media screen and (max-width: $mediumSize) {
      height: 50vh;
    }

    .title {
      margin: 0 auto;
      text-align: center;

      h1,
      h2 {
        color: white;
      }
    }
  }

  .prerequis {
    background: $grey;
    padding-top: 30px;

    .containerPrerequis {
      display: flex;

      div {
        width: 50%;
        text-align: center;
      }
    }

    .ingredients {
      display: block;
      width: 50%;
      margin: 0 auto;
      text-align: center;
    }
  }

  .conteneurEtapes {
    h1 {
      text-align: center;
    }

    .etape {
      width: 80%;
      margin: 0 auto 20px;

      p {
        padding-left: 30px;
      }

      hr {
        margin: 50px 0;
      }

      ol {
        list-style-type: none;

        li {
          list-style-type: none;
          counter-increment: counter_strike;
          padding: 40px 0;
          position: relative;

          &::before {
            position: relative;
            display: block;
            content: "Étape " counter(counter_strike) " :";
            font-family: "Gotham Bold";
            font-size: 17px;
            padding-bottom: 20px;
          }

          &::after {
            content: "";
            width: 30%;
            height: 4px;
            background: black;
            position: absolute;
            bottom: 0;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            border-radius: 20px;
          }
        }

        li:last-child {
          &::after {
            content: "";
            height: 0;
          }
        }
      }
    }
  }

  .backgroundLightGreenInHomepage {
    background-color: white;
  }

  #header-menu .nav-article-tpl {
    background: #3f3f3f;
    span {
      color: white;
    }
  }
}
