#cart {
  background-color: $lightGreen;

  .container {
    h1 {
      text-align: center;
    }

    .table {
      width: 100%;
      height: 50px;
      border: 1px solid black;
      border-radius: 10px;
      background: white;

      tr {
        height: 70px;

        th {
          text-align: center;
        }

        td {
          text-align: center;
        }

        a.btn {
          cursor: pointer;
          font-size: 17px;
          text-transform: uppercase;
          background: white;
          border: 1px solid black;
          border-radius: 10px;
          padding: 10px 30px;
          transition: 0.3s;
          text-decoration: none;
          margin-top: 70px;
          @media screen and (max-width: $smallSize) {
            border: 0;
            padding:0 10px;
            margin:0;
          }

          &:hover {
            background: black;
            color: white;
            transition: 0.3s;

            @media screen and (max-width: $smallSize) {
              background: white;
              color:black;
            }
          }
        }
      }

      .tbody {
        background: $grey;
        height: 50px;
      }
    }

    .totalPanier {
      text-align: right;
      padding: 50px 0;

      div {
        width: 30%;
        border: 1px solid black;
        border-radius: 10px;
        background: white;
        margin-left: auto;
        text-align: center;
        @media screen and (max-width: $mediumSize) {
          width:60%;
        }
      }
    }

    .total {
      margin-bottom: 50px;
    }

    .extra {
      display: flex;
      flex-direction: column;
      margin: 20px 0;

      h2 {
        text-align: center;
        font-size: 1.4rem;
      }

      textarea {
        width: 90%;
        max-width: 360px;
        min-width: 360px;
        min-height: 120px;
        max-height: 500px;
        border: 1px solid black;
        padding: 15px;
        margin: 15px auto;
      }
    }
  }
}

#addresses-tpl {
  background-color: $lightGreen;

  form {
    label {
      font-weight: 700;
    }

    div#addresses {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & > div {
        width: calc(50% - 60px);
        padding: 15px;
        border: 1px solid black;
        background-color: white;
        border-radius: 25px;
        label {
          margin-right: 15px;
        }
        textarea {
          height: 28px;
          resize: none;
        }
      }
    }

    @media(max-width: $mediumSize) {
      flex-direction: column;
      & > div {
        width: 100%;
        margin: 20px 0;
      }
    }
  }

  div.paiements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      margin: 0 25px;

      img {
        width: 200px;
      }
    }
  }
}

#paiement {
  background-color: $lightGreen;

  form {
    label {
      font-weight: 700;
    }
  }
}

#cart, #paiement, #addresses-tpl {
  #header-menu .nav-cart {
    background: #3f3f3f;
    span {
      color: white;
    }
  }
}
