#contact {
  .blocImage {
    height: 500px;
    background-image: url("/../images/background-contact.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #header-menu .nav-contact {
    background: #3f3f3f;
    span {
      color: white;
    }
  }

  .title {
    position: absolute;
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);

    h1 {
      color: white;
      font-family: 'Gotham-Light';
      font-size: 2.5rem;
      margin-bottom: -8%;
    }

    h2 {
      color: white;
      font-size: 3rem;
    }
  }

  .container {
    padding-top: 0px !important;
  }

  .imgPres {
    width: 100%;
    height: 90vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  .blocFull {
    text-align: center;
    background-color: $lightGreen;
    border-radius: 10px;
  }

  input, select {
    background-color: $lightGreen;
  }

  textarea {
    border: 1px solid black;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
    height: 40vh;
    width: 100%;
  }

  .input-message {
    width: 75%;
    margin: 0 auto 25px auto;

    .input-message-label {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .blockUser {
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;

    @media screen and (max-width: $mediumSize) {
      flex-direction: column;
    }
  }

  .input-user {
    @media screen and (max-width: $mediumSize) {
      padding: 10px;
    }
  }

  .terms {
    label {
      padding-right: 10px;
    }
  }

  button {
    padding: 4px 40px;
    margin: 0 0 25px 0;
  }

  .backgroundLightGreenInHomepage {
    background-color: white;
  }
}
