#products-tpl {
  background-color: $lightGreen;

  .backgroundLightGreenInHomepage {
    background-color: $lightGreen;
  }
}

#header-product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: middle;

  .ThirdBlock {
    width: calc(100%/3);
    margin-right: 1%;
    text-align: center;

    img {
      width: 100%;
    }
  }
}

#product-desc {
  background:#e8eff9;
}
