#products-tpl {
  main {
    background-color: $lightGreen;
  }

  .title {
    position: absolute;
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);

    h1 {
      color: white;
      font-family: 'Gotham-Light';
      font-size: 2.5rem;
    }

    h2 {
      color: white;
      font-size: 3rem;
    }
  }

  .backgroundLightGreenInHomepage {
    background-color: $lightGreen;
  }

  .container {
    padding-top: 0 !important;
  }

  .imgPres {
    width: 100%;
    height: 90vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  #header-menu #products-tpl {
    background: #3f3f3f;

    span {
      color: white;
    }
  }
}

#header-product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: middle;
  padding-top: 100px;

  .img-product {
    width: 70%;
    @media screen and (max-width: $largeSize) {
      width: 100%;
    }


    .imgPres {
      display: inline-block;
      width: 49%;
      height: 400px;
      margin: 0;

      @media screen and (max-width: $largeSize) {
        height:200px;
      }


      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
      }
    }
  }

  .infos-product {
    width: 30%;
    @media screen and (max-width: $largeSize) {
      width: 100%;
    }


    h1 {
      text-transform: uppercase;
      font-weight: 'Raleway';
      font-size: 2rem;
      margin: 0;
    }

    p {
      font-size: 3rem;
      margin: 0 0 5%;
    }

    label {
      margin: 0 0 2%;
    }

    #qty-product {
      display: block;
      margin: 0 auto 5%;
      color: black;
      width: 40%;
      text-decoration: none;
      text-align: center;
      font-size: 1.1rem;
      padding: 10px 30px;
      border: 1px solid black;
      border-radius: 10px;
      transition-duration: 0.4s;
    }

    .btn-acheter {
      display: block;
      margin: 0 auto;
      color: black;
      width: 40%;
      text-decoration: none;
      text-align: center;
      font-size: 1.1rem;
      padding: 10px 30px;
      border: 1px solid black;
      border-radius: 10px;
      transition-duration: 0.4s;

      &:hover {
        color: white;
      }
    }
  }
}

#fiche-produit {
  #product-desc {
    background: #e8eff9;

    .container {
      padding: 20px 0 100px;
    }
  }

  .backgroundLightGreenInHomepage {
    background-color: $lightGreen;
  }
}

#blocProducts {
  .container {
    .blocFull {
      margin: 0;
    }
  }
}
@media only screen and (max-width: $smallSize) {
  #header-product {
    display: inline;

    .ThirdBlock {
      width: 100%;
      text-align: center;
      margin-right: 0;

      img {
        width: 49%;
        margin: 0;
      }

      h1 {
        margin-top: 20px;
      }

      p {
        margin: 0 0 3%;
      }
    }
  }

  #product-desc {
    .container {
      h2 {
        width: 100%;
        text-align: center;
      }
    }
  }
}
