#listeService {
  margin-top: 5%;

  .container {
    p.blocContent {
      padding: 0 0 50px;
    }
  }
}

.detailContent{
  .fullSize{
    a{
      text-decoration: none;
      text-align: justify;
    }
  }
}

.backgroundLightGreenInHomepage {
  background-color: $lightGreen;
}
