#service-tpl {
  main {
    background-color: $lightGreen;
  }

  .backgroundLightGreenInHomepage {
    background-color: $lightGreen;
  }

  #header-menu #service-tpl {
    background: #3f3f3f;
    span {
      color: white;
    }
  }
}
