{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <div id="homepage">
    <div id="section-1-home">
      <div class="text-part-left">
        <h2>Pour le recyclage</h2>
        <h1>pensez Eco Service.</h1>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.Le Lorem Ipsum est simplement
          du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre
          spécimen de polices de texte.</p>
      </div>
      <div class="img-part-right">
        <img src="https://www.numerama.com/content/uploads/2016/01/naruto-singe.jpg">
      </div>
    </div>
    <div class="transitions">
    </div>
    <div id="section-2-home">
      <h2>
        Nos produits phares
      </h2>
      <div class="product-home-section-2-container">
        <div class="product-home-section-2">
          <img src="https://media.homemaison.com/SIRETEX_oct2017/l3c_bain/6ASB353GC.jpg">
          <div class="product-home-infos">
            <div class="product-home-title">
              <p>
                Gobelet recyclé Rouge
              </p>
              <span>
                Catégorie 1
              </span>
            </div>
            <div class="product-home-price">
              <p>
                50€
              </p>
            </div>
          </div>
        </div>
        <div class="product-home-section-2">
          <img src="https://media.homemaison.com/SIRETEX_oct2017/l3c_bain/6ASB353GC.jpg">
          <div class="product-home-infos">
            <div class="product-home-title">
              <p>
                Gobelet recyclé Vert
              </p>
              <span>
                Catégorie 1
              </span>
            </div>
            <div class="product-home-price">
              <p>
                50€
              </p>
            </div>
          </div>
        </div>
        <div class="product-home-section-2">
          <img src="https://media.homemaison.com/SIRETEX_oct2017/l3c_bain/6ASB353GC.jpg">
          <div class="product-home-infos">
            <div class="product-home-title">
              <p>
                Gobelet recyclé Bleu
              </p>
              <span>
                Catégorie 1
              </span>
            </div>
            <div class="product-home-price">
              <p>
                50€
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="section-3-home">
      <h2>
        Que me propose Eco-Service ?
      </h2>

      <div id="section-3-home-1">
        <div class="text-part-left">
          <h2>Des produits</h2>
          <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.Le Lorem Ipsum est simplement
            du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre
            spécimen de polices de texte.</p>
          <a href="#">Accès au catalogue</a>
        </div>
        <div class="img-part-right">
          <img src="https://www.numerama.com/content/uploads/2016/01/naruto-singe.jpg">
        </div>
      </div>

      <div id="section-3-home-2">
        <div class="img-part-right">
          <img src="https://www.numerama.com/content/uploads/2016/01/naruto-singe.jpg">
        </div>
        <div class="text-part-left">
          <h2>Des recette DIY</h2>
          <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.Le Lorem Ipsum est simplement
            du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre
            spécimen de polices de texte.</p>
          <a href="#">En savoir plus</a>
        </div>
      </div>

      <div id="section-3-home-3">
        <div class="text-part-left">
          <h2>Des services</h2>
          <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.Le Lorem Ipsum est simplement
            du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre
            spécimen de polices de texte.</p>
          <a href="#">En savoir plus</a>
        </div>
        <div class="img-part-right">
          <img src="https://www.numerama.com/content/uploads/2016/01/naruto-singe.jpg">
        </div>
      </div>

    </div>
    <div id="section-4-home">
      <div id="section-4-home-container">
        <div class="section-4-number">
          <span>95%</span>
          <p>de produit recyclés</p>
        </div>
        <div class="section-4-number">
          <span>95%</span>
          <p>de produit recyclés</p>
        </div>
        <div class="section-4-number">
          <span>95%</span>
          <p>de produit recyclés</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
