.wrapper {
  color:red!important;
  display: block;

  .main-header {
    height: unset;
    padding:0;
    width:100%;
    .sidebar-menu{
      li{
        display: inline-block;
      }
      .treeview{
        position:relative;
      }
      }
  }
}
