<html>
<table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
    <tr>
        <td align="left">
            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tr>
                    <td style="">Sujet:</td>
                    <td>{{ messages.subject }}</td>
                </tr>
                <tr>
                    <td style="">Email:</td>
                    <td>{{ messages.email }}</td>
                </tr>
                <tr>
                    <td style="">Message:</td>
                    <td>{{ messages.content }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</html>
