{% extends "base.html.twig" %}

{% block title %}{{ article.getName }}{% endblock %}

{% block body %}
  <h1>{{ article.getName }}</h1>


  <a href="{{ path('index_article') }}">Retourner à la liste des articles</a>
{% endblock %}
